.aside {
  $comp: &;
  position: sticky;
  position: -webkit-sticky;
  top: 140px;
  @media (max-width: ($breakpoint - 1px)) {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;

    background: var(--color-white);
    border-radius: 12px 12px 0px 0px;
    border: 1px solid var(--color-borders);
  }

  &__wrapper {
    margin-bottom: 60px;
  }

  &__list {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 20px;

      display: flex;
      justify-content: center;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(12px) getRem(20px);
    }
  }

  &__item {
    padding-left: 60px;
    @media (max-width: ($breakpoint-ll - 1px)) {
      padding-left: 30px;
    }
    @media (max-width: ($breakpoint - 1px)) {
      padding-left: 0;
    }
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }


    &:not(:first-child) {
      margin-top: 24px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 32px;
        margin-top: 0;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-left: getRem(32px);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 4px;
      height: 40px;
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }

      border-radius: 10px;
      background: transparent;
    }

    &.active {

      &::before {
        background: var(--color-wine);
      }

      #{$comp}__svg {
        .svg-stroke {
          stroke: var(--color-wine);
        }
        .svg-fill {
          fill: var(--color-wine);
        }
      }

      #{$comp}__text {
        color: var(--color-wine);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }

    &:hover {
      #{$comp}__svg {
        .svg-stroke {
          stroke: var(--color-wine);
        }
        .svg-fill {
          fill: var(--color-wine);
        }
      }

      #{$comp}__text {
        color: var(--color-wine);
      }
    }
  }

  &__icon {
    margin-right: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 0;
      margin-bottom: 4px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: 32px;
    height: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 26px;
      height: 26px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(26px);
      height: getRem(26px);
    }

    path {
      transition: $transition;
    }
    
    .svg-stroke {
      stroke: var(--color-lilac);
    }
    .svg-fill {
      fill: var(--color-lilac);
    }
  }

  &__text {
    transition: color $transition;
    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(11px);
      text-align: center;
    }
  }

  &__card {
    margin: 0 60px;

    border-radius: 12px;
    border: 1px solid var(--color-borders);
    overflow: hidden;
    cursor: pointer;
  }

  &__top {
    padding: 16px 16px 20px 20px;
    
    background: var(--color-light-gray);
  }
  &__top-row {
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-col {
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
  &__top-text {
    letter-spacing: var(--letter-space);
  }
  &__top-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
  }
  &__top-svg {
    path {
      stroke: var(--color-black);
    }
  }

  &__title {
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(20px, 110%);
  }
  
  &__bot {
    padding: 16px 20px;

    border-top: 1px solid var(--color-borders);
  }

  &__type {
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(14px, 120%);
  }
}