.ask {
  display: flex;
  align-items: center;
  
  &__icon {
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
  }
}