.ask {
  $comp: &;

  display: flex;
  align-items: center;

  &--header {
    #{$comp}__svg {
      width: getRem(32px);
      height: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        width: getRem(24px);
        height: getRem(24px);
      }
    }
    #{$comp}__text {
      @media (max-width: ($breakpoint - 1px)) {
        @include fsl(14px, null);
      }
    }
  }

  &:hover {
    #{$comp}__text {
      color: var(--color-wine);
    }
  }
  
  &__icon {
    margin-right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    transition: $transition;
    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }
}