.body {

  &.fancybox-active {
    overflow: hidden;
  }

  &.fade-out {
    .header {
      transform: translateY(-100%);
    }
    .main,
    .footer {
      transition: $transition;
      opacity: 0;
    }
  }

  &--hidden {
    overflow: hidden;
  }
  &--unvisible {
    opacity: 0;
    * {
      transition: none !important;
    }
  }
}