.body {

  &.fancybox-active {
    overflow: hidden;
  }

  &--gray {
    background: var(--color-light-gray);
  }

  &--hidden {
    overflow: hidden;
  }
  &--unvisible {
    opacity: 0;
    * {
      transition: none !important;
    }
  }
}