.breadcrumbs {
  $comp: &;

  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + 20px * 2);
    display: flex;

    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  &__list {
    display: flex;
    // flex-wrap: wrap;
    flex-shrink: 0;
    column-gap: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      column-gap: 9px;
      // flex-wrap: nowrap;
    }

  }

  &__item {
    position: relative;
    z-index: 0;


    display: flex;

    white-space: nowrap;

    &:not(:first-child) {
      padding-left: 32px;
      @media (max-width: ($breakpoint - 1px)) {
        padding-left: 16px;
      }
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 8px;
        height: 14px;

        background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.564 3.632V2.84L0.84 0.164V1.064L5.508 3.236L0.84 5.408V6.284L6.564 3.632Z' fill='%231D1117'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__link {
    transition: $transition;
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(16px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
    }
  }

  &__text {
    letter-spacing: var(--letter-space);
    @include fsl(16px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
    }
  }
}