.button {
  $comp: &;
  --color: var(--color-dark-red);

  position: relative;
  z-index: 0;
  padding: 19px 0;
  @media (max-width: ($breakpoint - 1px)) {
    padding: 15px 0;
  }
  @media (max-width: ($breakpoint-xs - 1px)) {
    padding: getRem(15px) 0;
  }
  
  width: 100%;
  display: block;
  
  overflow: hidden;
  text-align: center;
  @include f-main;
  cursor: pointer;
  font-weight: 700;
  color: var(--color-white);
  border: none;
  background: var(--color-wine);
  letter-spacing: var(--letter-space);
  border-radius: 8px;
  @include fsl(18px, 120%);
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(14px);
    border-radius: 4px;
  }
  @media (max-width: ($breakpoint-xs - 1px)) {
    @include fsl(14px, null, true);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    transition: $transition;
    background: var(--color);
    transform: translateX(-100%);
  }

  &:hover {
    &::before {
      transform: none;
    }
  }

  &--outline {
    --color: var(--color-wine);
    padding: 18px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 10px 0;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(10px) 0;
    }

    width: 147px;
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(147px);
    }
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-black);
    background: var(--color-white);
    // border: 1px solid var(--color-borders);

    &::after {
      content: "";
      @include cover;
      z-index: -1;

      border-radius: 8px;
      @media (max-width: ($breakpoint - 1px)) {
        border-radius: 4px;
      }
      border: 1px solid var(--color-borders);
      transition: $transition;
    }

    &:hover {
      #{$comp}__text {
        color: var(--color-white);
      }
      #{$comp}__span {
        color: var(--color-white);
      }
      #{$comp}__svg {
        path {
          fill: var(--color-white);
        }
        .stroke {
          stroke: var(--color-white);
        }
      }
      &::after {
        border-color: var(--color-wine);
      }
    }
  }

  &--huge {
    width: 179px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 134px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(134px);
    }
  }

  &--download {
    padding: 19px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 16px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(12px) getRem(16px);
    }

    width: auto;
  }

  &--icon {
    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    &--big {
      padding: 18px 23px;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 12px 5px;

        width: 100%;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        padding: getRem(12px) getRem(5px);
      }
    }
  }

  &--auto {
    padding: 19px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 15px 0;

      width: 100%;

      text-align: center;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(15px) 0;
    }
    width: auto;
  }

  &--wide {
    width: 100%;
  }

  &--mid {
    padding: 18px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 14px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(12px) getRem(14px);
    }
  }

  &--md {
    padding: 14px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 0;

      width: 100%;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(12px) 0;
    }
  }

  &--sm {
    width: auto;
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    @include fsl(14px, 120%);
    @media (max-width: ($breakpoint-xs - 1px)) {
      @include fsl(14px, null, true);
    }

    #{$comp}__text {
      margin-left: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
      }
    }
  }

  &--small {
    padding: 12px 14px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 4px 6px;

      width: 100%;

      @include fsl(12px);
    }
  }

  &--big {
    padding: 21px 0;
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(21px) 0;
    }
  }

  &--producer {
    padding: 13px 19px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 9px 16px;

      @include fsl(12px);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(9px) getRem(16px);
    }
    width: auto;
  }

  &--discount {
    padding: 15px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 9px 16px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(9px) getRem(16px);
    }

    width: auto;

    @include fsl(14px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &--catalog {
    padding: 14px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 9px 19px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(9px) getRem(19px);
    }

    width: auto;

    @include fsl(16px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &--main {
    padding: getRem(19px) getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(15px) getRem(16px);
    }
    width: auto;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon-white {
    path {
      fill: var(--color-white);
    }
  }

  &__svg {
    position: relative;
    z-index: 1;
    
    width: 24px;
    height: 24px;

    path {
      transition: $transition;
    }
  }

  &__arrow {
    transform: rotate(-180deg);
  }

  &__span {
    position: relative;
    z-index: 1;

    transition: $transition;
  }

  &__text {
    position: relative;
    z-index: 1;
    margin-left: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 8px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-left: getRem(8px);
    }

    transition: $transition;
  }
}