.button {
  $comp: &;

  padding: 19px 0;
  @media (max-width: ($breakpoint - 1px)) {
    padding: 15px 0;
  }
  
  width: 100%;
  display: block;
  
  text-align: center;
  @include f-main;
  cursor: pointer;
  font-weight: 700;
  color: var(--color-white);
  border: none;
  background: var(--color-wine);
  letter-spacing: var(--letter-space);
  border-radius: 8px;
  @include fsl(18px, 120%);
  @media (max-width: ($breakpoint - 1px)) {
    @include fsl(14px);
    border-radius: 4px;
  }

  &--outline {
    padding: 18px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 10px 0;
    }

    width: 147px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-black);
    background: var(--color-white);
    border: 1px solid var(--color-borders);
  }

  &--huge {
    width: 179px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 134px;
    }
  }

  &--wide {
    width: 100%;
  }

  &--download {
    padding: 19px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 16px;
    }

    width: auto;
  }

  &--icon {
    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--auto {
    padding: 19px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 15px 0;

      width: 100%;

      text-align: center;
    }
    width: auto;
  }

  &--mid {
    padding: 18px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 14px;
    }
  }

  &--md {
    padding: 14px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 0;

      width: 100%;
    }
  }

  &--sm {
    width: auto;
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    @include fsl(14px, 120%);

    #{$comp}__text {
      margin-left: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
      }
    }
  }

  &--discount {
    padding: 15px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 9px 16px;
    }

    width: auto;

    @include fsl(14px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    width: 24px;
    height: 24px;
  }

  &__arrow {
    transform: rotate(-180deg);
  }

  &__check {

  }

  &__text {
    margin-left: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 8px;
    }
  }
}