.card {
  margin: 0 60px;
  @media (max-width: ($breakpoint - 1px)) {
    margin: 0;
  }

  border: 1px solid var(--color-borders);
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  @media (max-width: ($breakpoint - 1px)) {
    border-radius: 8px;
  }

  &__top {
    padding: 16px 16px 20px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 16px;

      background: var(--color-white);
    }
    background: var(--color-light-gray);
  }
  &__row {
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__col {
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
  &__text {
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
  }
  &__svg {
    path {
      stroke: var(--color-black);
    }
  }

  &__title {
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(20px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }
  
  &__bot {
    padding: 16px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 12px 16px;
    }

    border-top: 1px solid var(--color-borders);
    background: var(--color-white);
  }

  &__type {
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(14px, 120%);
  }
}