.catalog-card {

  &__row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 68px;
      display: block;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(68px);
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding: getRem(212px) 60px 59px;
      width: calc(#{$col-width-d} * 6);
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0 20px;
        width: auto;
        border-bottom: none;
      }
      border-bottom: 1px solid var(--color-borders);
    }

    &:nth-child(2) {
      position: relative;
      z-index: 0;
      padding: getRem(212px) 0 0;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0;
        margin-top: 20px;
        
        width: auto;
        border-left: none;
      }
      width: calc(#{$col-width-d} * 6);
      border-left: 1px solid var(--color-borders);
    }
  }

  &__wrapper {
    padding: 0 60px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 20px;
    }
  }

  &__button {
    margin-bottom: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 71px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-bottom: getRem(71px);
    }
  }

  &__container {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 26px 24px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: 0 getRem(26px) getRem(24px);
    }
    position: sticky;
    position:-webkit-sticky;
    top: getRem(330px);
    z-index: 0;
    @media (max-width: ($breakpoint - 1px)) {
      position: relative;
    }
  }

  &__bg {
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bg-img {
    overflow: hidden;
    border-radius: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 16px;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    padding: 64px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 25px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(25px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    pointer-events: none;
  }

  &__image {
    animation: upDown 2s $transition-timing-function infinite;

    @keyframes upDown {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }

    @include fsl(36px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(18px);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      @include fsl(18px, null, true);
    }
  }

  &__code {
    color: var(--color-lilac);
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__inner {
    margin-top: 40px;
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(40px);
    }
  }

  &__stats {
    margin: 40px 0;
    @media (max-width: ($breakpoint - 1px)) {
      margin: 20px 0;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin: getRem(20px) 0;
    }

    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 5px;
    @media (max-width: ($breakpoint - 1px)) {
      column-gap: 8px;
    }
  }
  &__stats-item {
    position: relative;
    z-index: 0;

    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }

    &:not(:first-child) {
      padding-left: 19px;
      @media (max-width: ($breakpoint - 1px)) {
        padding-left: 15px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        padding-left: getRem(15px);
      }

      &::before {
        --size: 7px;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: var(--size);
        height: var(--size);

        border-radius: 50%;
        background: var(--color-black);
      }
    }
  }

  &__prices {
    display: flex;
  }
  &__prices-item {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 2 - 60px);
    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-width-m} * 4 - 20px);
    }
  }
  &__prices-price {
    margin-top: 4px;

    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(32px, 150%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(20px);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      @include fsl(20px, null, true);
    }
  }

  &__label {
    color: var(--color-lilac);
    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__item {
    padding-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 9px;
    }

    display: flex;
    align-items: center;

    border-bottom: 1px dashed var(--color-lilac);

    &:not(:first-child) {
      margin-top: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 16px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-top: getRem(16px);
      }
    }
  }
  &__item-col {
    flex-shrink: 0;
    &:nth-child(1) {
      width: calc(#{$col-width-d} * 3 - 60px);
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(#{$col-width-d} * 4 - 20px);
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(#{$col-width-d} * 4 - 20px);
      }
    }
  }
  &__item-text {
    letter-spacing: var(--letter-space);
    @include fsl(18px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__heading {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-bottom: getRem(12px);
    }
  }

  &__text {
    letter-spacing: var(--letter-space);
    @include fsl(18px, 160%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, 130%);
    }
  }

  &__top {
    margin-bottom: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }
    display: flex;
    align-items: center;
  }

  &__buttons {
    margin-left: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__slide {
    height: 100%;
  }

  &__panel {
    padding: 20px 60px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 20px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(20px);
    }
    margin-left: -1px;
    position: sticky;
    position:-webkit-sticky;
    bottom: 0;

    display: flex;
    width: 100%;

    border: 1px solid var(--color-borders);
    box-shadow: 0px -9px 20px rgba(0, 0, 0, 0.04);
    background: var(--color-white);
  }
  &__panel-col {
    &:nth-child(1) {
      flex-shrink: 0;
      width: 200px;
      @media (max-width: ($breakpoint - 1px)) {
        width: 130px;
      }
    }
    &:nth-child(2) {
      margin-left: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;

        width: 100%;
      }
    }
  }

  &__breadcrumbs {
    margin-bottom: 20px;
  }

  &__auth {
    padding: 21px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 16px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(16px);
    }

    background: var(--color-light-gray);
    border-radius: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 8px;
    }
  }
  &__auth-row {
    display: flex;
    justify-content: space-between;
  }
  &__auth-col {
    &:nth-child(1) {
      display: flex;
    }
    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }
  &__auth-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__auth-svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: 32px;
      height: 32px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(32px);
      height: getRem(32px);
    }
  }
  &__auth-content {
    margin-left: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 22px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-left: getRem(22px);
    }
  }
  &__auth-text {
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px, 120%);
    }
  }
  &__auth-btn {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
      display: block;
    }
  }
}