.category {
  $comp: &;

  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 20px;
    margin-left: -20px;

    width: calc(100% + 40px);

    display: flex;

    @include scrollbar-hidden;
    overflow-y: scroll;
  }
  
  &__list {
    display: flex;
    flex-shrink: 0;
  }

  &__item {
    padding: 8px 16px;
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(8px) getRem(16px);
    }
    position: relative;
    z-index: 0;

    transition: $transition;
    overflow: hidden;
    border-radius: 40px;
    background: var(--color-light-gray);
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 8px;
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-left: getRem(8px);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;

      width: 100%;
      height: 100%;

      transition: $transition;
      background: var(--color-wine);
      transform: translateX(-100%);
    }

    &:hover {
      &::before {
        transform: none;
      }

      #{$comp}__text {
        color: var(--color-white);
      }
    }

    &.active {
      &::before {
        transform: none;
      }

      #{$comp}__text {
        color: var(--color-white);
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;

    letter-spacing: var(--letter-space);
    transition: $transition;
  }
}