.category-card {
  $comp: &;
  position: relative;
  z-index: 0;

  height: 100%;
  display: block;

  overflow: hidden;

  &:hover {
    #{$comp}__hover {
      transform: none;
    }
    #{$comp}__frame {
      transform: none;
    }
  }

  &__container {
    padding: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(20px);
    }
  }

  &__img {
    position: relative;
    z-index: 0;
    padding: getRem(40px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(15px) 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    height: getRem(480px);
    @media (max-width: ($breakpoint - 1px)) {
      height: getRem(198px);
    }

    background: var(--color-gray);
    overflow: hidden;
    border-radius: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 16px;
    }
  }
  &__img-icon {
    position: absolute;
    top: getRem(32px);
    right: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      top: getRem(12px);
      right: getRem(12px);
    }
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img-svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(12px);
      height: getRem(12px);
    }
  }

  &__picture {
    height: 100%;

    &.picture {
      img {
        width: auto;
        height: auto;
      }
    }
  }

  &__title {
    margin-top: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 8px;
    }

    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(28px, 110%, true);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px, null, true);
    }
  }

  &__hover {
    @include cover;

    transform: translateY(100%);
    overflow: hidden;
    transition: $transition;

    #{$comp}__title {
      color: var(--color-wine);
    }
  }

  &__frame {
    height: 100%;

    transform: translateY(-100%);
    transition: $transition;
    background: var(--color-light-gray);
  }

  &__bg {
    @include cover;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__icon {
    position: absolute;
    bottom: getRem(24px);
    right: getRem(24px);
    z-index: 1;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
}
