.counter {
  $comp: &;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: $transition;
  border: 1px solid var(--color-borders);
  border-radius: 8px;
  @media (max-width: ($breakpoint - 1px)) {
    border-radius: 4px;
  }

  &:focus-within {
    border-color: var(--color-pink);
    box-shadow: 0px 8px 16px rgba(207, 178, 191, 0.3);
  }

  &--big {
    padding: 7px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 3px;
    }
    height: 100%;

    #{$comp}__item {
      --size: 44px;
      @media (max-width: ($breakpoint - 1px)) {
        --size: 40px;
      }
    }
  }

  &__item {
    --size: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 28px;
    }

    padding: 5px;

    width: var(--size);
    height: var(--size);
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(28px);
      height: getRem(28px);
    }
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;
    background: var(--color-light-gray);
    cursor: pointer;
    transition: $transition;

    &:hover {
      background: var(--color-wine);

      #{$comp}__svg {
        path {
          fill: var(--color-white);
        }
      }
    }
  }

  &__count {

    width: 100%;

    text-align: center;
    border: none;
    letter-spacing: var(--letter-space);
    line-height: 100%;
  }

  &__svg {
    path {
      transition: $transition;
      fill: var(--color-black);
    }
  }
}