.header {
  $comp: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 777;

  width: 100vw;

  background-color: var(--color-white);
  transition: $transition;

  &--up {
    transform: translateY(-3.5rem);
  }

  &.menu {

    #{$comp}__mobile {
      &::before {
        transform: none;
      }
    }

    #{$comp}__modal {
      transform: none;
      pointer-events: all;
    }

    #{$comp}__burger {
      height: 0;
      border-color: transparent;
      transition: all 0.35s 0s $transition-timing-function;

      &:before {
        transform: translate(0, -50%) rotate(-45deg);
        background: var(--color-black);
        transition-delay: 0.5s;
      }
      
      &:after {
        transform: translate(0, -50%) rotate(-135deg);
        background: var(--color-black);
        transition-delay: 0.5s;
      }
    }
  }

  &__inner {
    padding: getRem(20px) 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: getRem(8px) 0;
    }
    
    border-bottom: 1px solid var(--color-borders);
  }

  &__desktop {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 1px;
      z-index: 1;

      background: var(--color-white);
      transform: translateX(-100%);
      transition: $transition;
    }
  }

  &__top {
    margin-bottom: getRem(16px);
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo-svg {
    width: getRem(209px);
    height: getRem(32px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(104px);
      height: getRem(16px);
    }
  }

  &__nav {}
  &__nav-list {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__nav-item {
    display: flex;

    &:not(:first-child) {
      margin-left: getRem(40px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: getRem(16px);
      }
    }
  }
  &__nav-link {
    transition: color $transition;
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(18px, 120%, true);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%, true);
    }
    
    &:hover {
      color: var(--color-wine);
    }
  }

  &__links {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__links-item {
    display: flex;

    &:not(:first-child) {
      margin-left: getRem(44px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        margin-top: getRem(12px);
      }
    }
  }
  &__links-link {
    display: flex;
    align-items: center;

    &:hover {
      #{$comp}__links-text {
        color: var(--color-wine);
      }
    }
  }
  &__links-img {
    margin-right: 4px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 8px;

      width: getRem(20px);
      height: getRem(20px);
    }
    width: getRem(24px);
    height: getRem(24px);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__links-text {
    transition: color $transition;
    letter-spacing: var(--letter-space);
    @include fsl(22px, 120%, true);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px, 120%, true);
    }
  }

  &__buttons {
    display: flex;
  }
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:not(:first-child) {
      margin-left: getRem(32px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: getRem(8px);
      }
    }

    &:hover {
      #{$comp}__svg {
        path {
          stroke: var(--color-wine);
        }
      }
    }
  }

  &__cart {
    position: relative;
    z-index: 0;

    width: getRem(48px);
    height: getRem(48px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
      height: auto;
    }
    
    &::after {
      content: "";
      @include cover;
      z-index: -1;

      transition: $transition;
      border-radius: 12px;
      background: var(--color-wine);
      opacity: 0;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: getRem(-5px);
      left: getRem(-5px);

      width: getRem(58px);
      height: getRem(62px);

      opacity: 0;
      transition: $transition;
      background-image: url("data:image/svg+xml,%3Csvg width='58' height='62' viewBox='0 0 58 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='58' height='58' rx='12' fill='%23A71E5C'/%3E%3Cpath d='M29 62L18.6077 57.5L39.3923 57.5L29 62Z' fill='%23A71E5C'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:hover {
      @media (min-width: $breakpoint) {
        &::before {
          opacity: 1;
        }
  
        #{$comp}__cart-svg {
          path {
            stroke: var(--color-white);
          }
        }
  
        #{$comp}__cart-count {
          background: var(--color-black);
          color: var(--color-white);
        }
      }
    }

    &.active {
      &::before {
        opacity: 1;
      }

      #{$comp}__cart-svg {
        path {
          stroke: var(--color-white);
        }
      }

      #{$comp}__cart-count {
        background: var(--color-black);
        color: var(--color-white);
      }
    }
  }
  &__cart-count {
    position: absolute;
    top: getRem(4px);
    right:  1px;
    z-index: 1;
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
    }

    width: getRem(16px);
    height: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      width: 16px;
      height: 16px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--color-wine);
    color: var(--color-white);
    letter-spacing: var(--letter-space);
    transition: $transition;
    @include fsl(12px, 120%, true);
  }
  &__cart-svg {
    
  }

  &__svg {
    width: getRem(48px);
    height: getRem(48px);
    @media (max-width: ($breakpoint - 1px)) {
      width: getRem(32px);
      height: getRem(32px);
    }

    path {
      transition: $transition;
    }
  }

  &__container {
    width: calc(#{$col-width-d} * 6 - 60px);
    @media (max-width: ($breakpoint-ll - 1px)) {
      width: calc(#{$col-width-d} * 8 - 60px);
    }
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
    display: flex;
  }

  &__left {
    display: flex;
    width: calc(#{$col-width-d} * 3 - 60px);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
  }

  &__right {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__text {
    font-weight: 700;
    letter-spacing: var(--letter-space);
  }

  &__menu {
    width: getRem(32px);
    height: getRem(32px);
  }

  &__burger {
    position: relative;
    z-index: 1;

    width: getRem(24px);
    height: getRem(16px);

    border-top: 2px solid var(--color-black);
    border-bottom: 2px solid var(--color-black);
    transition: height 0.4s 0.4s $transition-timing-function, border-color 0.4s 0.4s $transition-timing-function;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      width: 100%;
      height: 2px;

      transition: transform 0.4s $transition-timing-function;
      background: var(--color-black);
    }
  }

  &__modal {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100vw;
    height: 100vh;

    transition: $transition;
    background: var(--color-white);
    transform: translateX(-100%);
    pointer-events: none;
  }
  &__modal-inner {

    overflow-y: scroll;
  }
  &__modal-container {
    padding: getRem(20px);
  }
  &__modal-title {
    margin-bottom: getRem(16px);
  }
  &__modal-bot {
    border-top: 1px solid var(--color-borders);
  }
  &__modal-row {
    display: flex;
  }
  &__modal-col {
    &:nth-child(1) {
      padding-right: 10px;

      flex-shrink: 0;
      width: calc(#{$col-width-m} * 4 - 20px);
    }
  }
}