.intro {

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 20px;
    
    border-radius: 16px;
  }
  border-radius: 32px;
  overflow: hidden;

  &__container {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
  }

  &__top {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__title {
    color: var(--color-white);
  }

  &__bg {
    position: absolute;
    z-index: 1;
    left: -144px;
    top: -90px;
    @media (max-width: ($breakpoint - 1px)) {
      left: -29px;
      top: -41px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      left: getRem(-29px);
      top: getRem(-41px);
    }

    display: flex;
    align-items: center;
  }
  &__bg-svg {
    --size: 150px;

    @media (max-width: ($breakpoint - 1px)) {
      width: var(--size);
      height: var(--size);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(150px);
      height: getRem(150px);
    }
  }

  &__icon {
    position: absolute;
    bottom: 40px;
    right: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      bottom: 20px;
      right: 20px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      bottom: getRem(20px);
      right: getRem(20px);
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    --size: 16px;

    @media (max-width: ($breakpoint - 1px)) {
      width: var(--size);
      height: var(--size);
    }
  }
}