.main {
  margin-bottom: 140px;
  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: 100px;
  }

  &--default {
    margin-bottom: 0;
  }

  &--small {
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 40px;
    }
  }
}