.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  width: 640px;
  @media (max-width: ($breakpoint - 1px)) {
    width: calc(100% - 40px);
  }

  background: var(--color-white);
  border-radius: 24px;
  @media (max-width: ($breakpoint - 1px)) {
    border-radius: 16px;
  }

  &__container {
    padding: 60px 110px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 64px 27px 24px;
    }
  }

  &__title {
    margin-bottom: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 24px;
    }

    text-align: center;
  }

  &__inner {
    margin-top: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 24px;
    }
  }
  
}

.login-modal {

  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__item {

    &:not(:first-child) {
      margin-left: 8px;
    }
  }

  &__tab {
    padding: 8px 16px;

    border-radius: 40px;
    letter-spacing: var(--letter-space);
    cursor: pointer;
    background: var(--color-borders);
    transition: $transition;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }

    &.active {
      color: var(--color-white);
      background: var(--color-wine);
    }
  }

  &__button {
    text-align: center;
    font-weight: 700;
    letter-spacing: var(--letter-space);
    cursor: pointer;
    text-decoration: underline;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__category {
    display: flex;
    justify-content: center;
  }
}

.password-modal {
  
  &__container {
    position: relative;
    z-index: 0;
    padding: 125px 110px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 91px 26px;
    }
  }

  &__back {
    --pad: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      --pad: 12px;
    }

    position: absolute;
    left: var(--pad);
    top: var(--pad);
  }

  &__title {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }

    text-align: center;
  }

  &__text {
    text-align: center;
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &__heading {
    text-align: center;
  }

  &__inner {
    padding: 0 110px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 25px;

      height: 391px;
    }
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.response-modal {

  height: 545px;
  @media (max-width: ($breakpoint - 1px)) {
    height: 391px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__icon {
    margin-bottom: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 24px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: 80px;
      height: 80px;
    }
  }

  &__title {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 10px;
    }

    text-align: center;
  }

  &__text {
    text-align: center;
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }
}

.product-modal {

  &__container {
    padding: 40px 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 65px 0 25px;
    }
  }

  &__product {
    padding: 20px 60px 16px 20px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 16px 0 8px;
    }
  }

  &__row {
    display: flex;
  }

  &__prices {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
    }
  }

  &__buttons {
    margin: 40px 60px 0;
    @media (max-width: ($breakpoint - 1px)) {
      margin: 24px 27px 0;
    }

    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }

  &__item {
    width: calc(50% - 4px);
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    &:not(:first-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 8px;
      }
    }
  }
}

.search-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: none;

  background: var(--color-white);

  .fancybox-button.fancybox-close-small {
    display: none;
  }

  &__container {
    padding: 44px 60px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 8px 20px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-right: 15px;
      width: 100%;
    }
  }

  &__icon {
    margin-right: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 12px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    @media (max-width: ($breakpoint - 1px)) {
      width: 32px;
      height: 32px;
    }
  }

  &__input {
    width: 100%;

    letter-spacing: var(--letter-space);
    border: none;
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
    @include f-main;

    @include placeholder {
      color: var(--color-black);
    }
  }

  &__item {
    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
    &:nth-child(2) {
      margin-left: 8px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
      }
    }
  }

  &__button {
    --size: 64px;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 44px;
    }

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: 1px solid var(--color-borders);
    border-radius: 8px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 4px;
    }
  }
}

/* Custom animation slide-in-out */
.fancybox-fx-left.fancybox-slide--previous {
  
  transform: translateX(-100%);
}

.fancybox-fx-left.fancybox-slide--next {
  
  transform: translateX(-100%);
}

.fancybox-fx-left.fancybox-slide--current {
  transform: translateX(0);
}

.fancybox-fx-top.fancybox-slide--previous {
  
  transform: translateY(-100%);
}

.fancybox-fx-top.fancybox-slide--next {
  transform: translateY(-100%);
}

.fancybox-fx-top.fancybox-slide--current {
  transform: translateY(0);
}

// .fancybox-container.open {
//   .fancybox-bg {
//     transition-delay: 0.4s;
//   }

//   .fancybox-slide--next {
//     transition-delay: 0.4s;
//   }
//   .fancybox-slide--previous {
//     transition-delay: 0.4s;
//   }
// }
.fancybox-slide--html .fancybox-close-small {
  --size: 60px;
  --pad: 20px;
  @media (max-width: ($breakpoint - 1px)) {
    --size: 44px;
    --pad: 12px;
  }

  top: var(--pad);
  right: var(--pad);

  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  border: 1px solid var(--color-borders);
  border-radius: 8px;
  @media (max-width: ($breakpoint - 1px)) {
    border-radius: 4px;
  }

  path {
    fill: var(--color-black);
  }
}

// .fancybox-slide.fancybox-slide--html {
//   padding-top: 80px;

//   @media (max-width: ($breakpoint - 1px)) {
//     padding-top: 16px;
//   }
// }