.product-card {
  padding-top: 24px;
  @media (max-width: ($breakpoint - 1px)) {
    padding-top: 0;
  }

  border: 1px solid var(--color-borders);
  transition: $transition;

  &:hover {
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.12);
  }

  &__image {
    position: relative;
    z-index: 0;
    padding: 25px 10px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 15px 13px 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 320px;
    @media (max-width: ($breakpoint - 1px)) {
      max-height: 188px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__picture {
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 15px;

      width: 100%;
      height: 100%;
      justify-content: center;
    }
    display: flex;
    align-items: center;
  }

  &__code {
    position: absolute;
    z-index: 1;
    left: 24px;
    top: 0;
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
    }

    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(14px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(8px);
    }
  }

  &__info {
    padding: 16px 24px 24px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 8px 12px 12px;
    }
  }

  &__top {
    margin-bottom: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }
  }

  &__title {
    margin-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }

    font-weight: 700;
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  &__list-item {
    position: relative;
    z-index: 0;

    white-space: nowrap;
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(14px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(8px);
    }

    &:not(:first-child) {
      padding-left: 10px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 6px;
        height: 6px;

        background-color: var(--color-lilac);
        border-radius: 50%;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    letter-spacing: var(--letter-space);
    color: var(--color-lilac);
    @include fsl(16px, 120%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(8px);
    }
  }

  &__price {
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(18px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }

  &__bot {
    margin-top: 28px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }

    display: flex;
  }
  &__bot-col {
    &:nth-child(1) {
      width: 100%;
    }

    &:nth-child(2) {
      margin-left: 12px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 8px;
      }
    }
  }
  
  &__button {
    padding: 0 18px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 2px 13px;
    }

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-wine);
    cursor: pointer;
    border-radius: 8px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 4px;
    }
  }

  &__svg {
    width: 42px;
    height: 42px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 24px;
      height: 22px;
    }

    path {
      stroke: var(--color-white);
    }
  }

  &__auth {
    padding: 16px 20px 16px 16px;

    display: flex;

    background: var(--color-light-gray);
    border-radius: 8px;
  }
  &__auth-col {
    &:nth-child(1) {
      flex-shrink: 0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
    &:nth-child(2) {
      margin-left: 16px;
    }
  }
  &__auth-text {
    margin-bottom: 8px;

    letter-spacing: var(--letter-space);
    @include fsl(14px, 120%);
  }
  &__auth-btn {
    padding: 9px 16px;

    display: inline-block;

    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(14px, 120%);
    border: 1px solid var(--color-borders);
    cursor: pointer;
    background: var(--color-white);
    border-radius: 4px;
  }
}