.section {
  
  margin-top: 60px;
  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 20px;
  }
  @media (max-width: ($breakpoint-xs - 1px)) {
    margin-top: getRem(20px);
  }

  &--border {
    border-top: 1px solid var(--color-borders);
    @media (max-width: ($breakpoint - 1px)) {
      border-top: none;
    }
  }

  &--first {
    margin-top: getRem(212px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: getRem(68px);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(68px);
    }
  }

  &--big {
    margin-top: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(40px);
    }
  }

  &--hidden {
    overflow: hidden;
  }

  &--default {
    margin-top: 0;
  }

  &__inner {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 0;
    }
  }

  &__block {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(40px);
    }
  }

  &__breadcrumbs {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }
  }

  &__container {
    margin: 0 auto;
    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 20px;
      
      width: auto;
    }
    width: calc(#{$col-width-d} * 6);
  }

  &__wrapper {
    margin: 0 auto;
    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 20px;
      
      width: auto;
    }
    width: calc(#{$col-width-d} * 8);
  }

  &__heading {
    margin-bottom: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 4px;
    }
    font-weight: 700;
    @include fsl(48px, 110%);
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(24px);
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      @include fsl(24px, null, true)
    }
  }

  &__text {
    letter-spacing: var(--letter-space);
    @include fsl(24px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }
}