.section {
  
  margin-top: 60px;

  &--border {
    border-top: 1px solid var(--color-borders);
    @media (max-width: ($breakpoint - 1px)) {
      border-top: none;
    }
  }

  &--first {
    margin-top: 212px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 68px;
    }
  }

  &--big {
    margin-top: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }
  }

  &--hidden {
    overflow: hidden;
  }

  &--default {
    margin-top: 0;
  }

  &__inner {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 0;
    }
  }

  &__block {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 40px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }
  }

  &__container {
    margin: 0 auto;
    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 20px;
      
      width: auto;
    }
    width: calc(#{$col-width-d} * 6);
  }
}