.routes {
  margin-top: 30px;

  &__item {
    display: flex;
    width: 200px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.tabs-block {
  display: none;

  &.active {
    display: block;
  }
}

.preloader{
  margin: 30px;
  height: 100px;
  width: 20%;
  text-align: center;
  display: inline-block;
  vertical-align: top;

  svg path,
  svg rect{
    fill: var(--color-wine);
  }
}

.test__ticker {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.test__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.test__item {
  flex-shrink: 0;

  &:not(:first-child) {
    margin-left: 170px;
  }
}