.routes {
  margin-top: 30px;

  &__item {
    display: flex;
    width: 200px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.tabs-block {
  display: none;

  &.active {
    display: block;
  }
}

.test {
  display: flex;
}

