extends ../layouts/master

include ../components/breadcrumbs

include ../components/product-card


block content
  -
    var ddata = [
      {
        title: 'Цвет',
        items: ['Белое', 'Красное', 'Розовое',]
      },
      {
        title: 'Содержание сахара',
        items: ['Сухое', 'Полусухое', 'Полусладкое', 'Сладкое',]
      },
      {
        title: 'Страна',
        items: ['Австралия', 'Армения', 'Германия', 'Грузия', 'Испания', 'Италия', ]
      },
      {
        title: 'Объем, л.',
        items: ['0.75', '1.5', '1', '0.7', '2', '2', ]
      },
      {
        title: 'Крепость, ℃',
        items: ['0.0%', '13.0%', '9.0%', '16.0%', '5.0%', '11.0%', ]
      },
      {
        title: 'Производитель',
        items: ['Абхазия Мстраль алко', 'Азербайжан Альтернатива', 'Розовое', 'Азербайжан гянджа', 'Алко-СК протвейн', 'Алко-СК т/пак', 'Альтервина', ]
      },
    ]
  .catalog-page 
    section.section.section--first 
      .container
        .section__breadcrumbs
          +breadcrumbs(page = 'Вина и винные напитки')
        h1
          |Вина и винные напитки
        .catalog-page__category 
          .category 
            ul.category__list
              each item, i in ['Десертное вино', 'Столовое вино', 'Белое сухое', 'Красное сухое', 'Безалкогольное']
                li.category__item(class=(i === 0 ? 'active' : ''))
                  .category__text
                    |#{item}
    section.catalog-page__listing 
      .catalog-page__row 
        .catalog-page__col
          .catalog-page__button(data-filters-button='')
            .catalog-page__button-icon 
              +filters-svg.catalog-page__button-svg 
            .catalog-page__button-text 
              |Фильтры
            .catalog-page__button-count.hidden(data-filters-count='')
              .catalog-page__button-num(data-filters-num='')
          .filters
            ul.filters__list
              li.filters__item
                .filters__heading 
                  |Производитель
                .filters__range
                  .range(data-range-block='')
                    .range__inputs 
                      label.range__item 
                        span.range__label 
                          |от
                        input.range__input(type="number" value ='2300' data-input-start='2300')
                      label.range__item 
                        span.range__label 
                          |до
                        input.range__input(type="number" value ='4000' data-input-end='4000')
                    .range__range
              each item in ddata
                li.filters__item
                  .filters__heading 
                    |#{item.title}
                  .filters__body 
                    ul.filers__options 
                      each checkbox in item.items
                        li.filters__box 
                          +checkbox(text = checkbox).checkbox--filters
                    if (i % 3 === 0)
                      .filters__show 
                        .filters__text 
                          |Показать все
                        .filters__icon
                          +small-arrow-svg.filters__svg 
            .filters__buttons
              .filters__button(data-filters-reset='')
                .filters__button-icon 
                  +refresh-svg.filters__button-svg 
                .filters__button-text 
                  |Сбросить
        .catalog-page__col
          .grid-container.grid-container--catalog.listing
            +product-card-noprice
            +product-card(disabled = true bot = true)
            - for (i = 0; i < 14; i++)
              +product-card(bot = true)
            .listing__wrapper 
              +listing-loader-svg
  +product-modal
  +catalog-menu