extends ../layouts/master


include ../components/order-panel

block variables
  - var mainClass = "main--default"

block content
  -
    var ddata = [
      {
        heading: 'Контактные данные',
        inputs: [
          {type: 'text', placeholder: 'Имя*'},
          {type: 'phone', placeholder: 'Телефон*'},
          {type: 'email', placeholder: 'E-mail*'},
        ]
      },
      {
        heading: 'Адрес доставки',
        inputs: [
          {type: 'text', placeholder: 'Город*'},
          {type: 'text', placeholder: 'Адрес*'},
        ]
      },
    ]
  .checkout-page 
    section.checkout-page__section
      form.form(action="/") 
        .checkout-page__row 
          .checkout-page__col(data-aos='fade-up')
            .checkout-page__button 
              +link-left.button--huge
                |В корзину
          .checkout-page__col
            h1.checkout-page__title(data-aos='fade-up') 
              |Оформить заказ
            .checkout-page__form(data-aos='fade-up')
              each item in ddata
                .checkout-page__form-block 
                  h3.checkout-page__form-heading 
                    |#{item.heading}
                  each input in item.inputs 
                    .form__item
                      if (input.type == 'phone')
                        +input(type = 'text' data-mask-phone='' data-parsley-phone='')
                      else
                        +input(type = input.type)
                      span.form__span 
                        |#{input.placeholder}
              .checkout-page__form-block 
                h3.checkout-page__form-heading 
                  |Дата доставки
                .checkout-page__form-text 
                  |Выберите адрес доставки
                .checkout-page__form-inner 
                  .checkout-page__form-row(data-radio-group='')
                    each item in ['23.01.2022', '26.01.2022', '28.01.2022', '30.01.2022', ]
                      +radio-button(text = item name = 'date')
              .checkout-page__form-block 
                h3.checkout-page__form-heading 
                  |Комментарий к заказу
                .form__item
                  +textarea
                  span.form__span 
                    |Сообщение
          .checkout-page__col
            .checkout-page__panel(data-aos='fade-up')
              +order-panel
