extends ../layouts/master


block header 

block footer

block content
  .container
    ul.routes
      each route in data.routes
        li.routes__item
          a.button(href=route.href)= route.title
