extends ../layouts/master

include ../components/breadcrumbs
include ../components/news-components

block content
  .news-page 
    section.section.section--first 
      .container
        +breadcrumbs(items = ['Новости'] page = 'Универсальный сорт: что нужно знать о шардоне')
    section.news-page__section
      .container
        .section__inner 
          .news-page__row 
            .news-page__col
              .news-page__button 
                +link-left 
                  |Назад
            .news-page__col
              .news-page__top
                h1.news-page__title
                  |Универсальный сорт: что нужно знать о шардоне
                .news-page__date
                  |26 июня 2022
              .news-page__image 
                img(src="assets/images/news-2.jpg", alt="")
              p.news-page__caption 
                |Самый популярный в мире белый сорт винограда имеет долгую историю. Универсальность шардоне и мешала, и помогала его развитию, но сегодня у этого сорта прочные позиции в винном мире.
              .news-page__content 
                h3.news-page__heading 
                  |Возвращение в строй
                p.news-page__text 
                  |В течение нескольких десятилетий шардоне было не в моде. В середине девяностых The New York Times написала о тренде под названием ABC (Anything But Chardonnay) — «Все, кроме шардоне», распространившемся в винном мире. Примерно в то же время в британской The Independent стали выходить колонки Хелен Филдинг о приключениях Бриджит Джонс (позже превратившиеся в роман-бестселлер). «Дорогой дневник, я снова все сделала не так. Выпила огромный бокал шардоне», «После первой бутылки шардоне я уже было собралась поднять тему постоянных разочарований...» — не слишком удачливая главная героиня не расставалась с бокалом шардоне.
                p.news-page__text 
                  |Огромный успех книги отрицательно сказался на репутации собственно вина: читатели сочувствовали и симпатизировали главной героине, но ни в чем не хотели быть на нее похожими. «До Бриджит Джонс шардоне считалось очень сексуальным. Но потом люди стали говорить: «О, нет, только не в моем баре!» — утверждал винный критик Оз Кларк, именно этим объясняя снижение интереса британцев (и не только их) к сорту.
              .news-page__image 
                img(src="assets/images/news-3.jpg", alt="")
              .news-page__content 
                h3.news-page__heading 
                  |Винное наводнение
                p.news-page__text 
                  |Конечно, Бриджит Джонс была не виновата. Причина крылась в перепроизводстве шардоне. В 80-х его стало слишком много и количество ощутимо било по качеству. В значительной степени это было связано с «Судом Парижа», знаменитой слепой дегустацией вин Франции и США, прошедшей в Париже в 1976-м. Тогда лучшие дегустаторы мира отдали предпочтение калифорнийским винам, что вызвало небывалый рост посадок шардоне за океаном (к 1988 году в Калифорнии было посажено больше лоз, чем во Франции).
                ul.news-page__enum 
                  each item in ['Виктория', 'Аркадия', 'Ризамат', 'Кримсон сидлисс', 'Мерседес',]
                    li 
                      |#{item}
              blockquote.news-page__quote 
                |В 2015-м профильные издания и ряд экспертов провозгласили конец эры ABC (Anything But Chardonnay), а Оз Кларк больше не называет шардоне «безжалостным колонизатором мировых виноградников и разрушителем вкусов.
              .news-page__content 
                h3.news-page__heading 
                  |Качество под откос
                p.news-page__text 
                  |Снижение качества вин и падение продаж обеспокоило и самих американцев. Несколько виноделен Калифорнии объединились даже в группу In Pursuit of Balance, IPOB («В погоне за балансом»), задавшись целью контролировать уровень продукции. Их усилия оказались не напрасны. Американское шардоне постепенно в течение 15 лет пришло в норму, количество перешло в качество. Новое поколение ценителей вина обратило внимание на сорт, а выход в 2013-м новой книги о Бриджит Джонс (по-прежнему пьющей шардоне) на этот раз повысил его продажи в Англии — на целых 16% в торговых сетях.
                ul.news-page__list 
                  each item in ['Каберне Совиньон', 'Мерло Можно', 'Шардоне', 'Совиньон Блан',]
                    li 
                      |#{item}
              .news-page__image 
                img(src="assets/images/news-4.jpg", alt="")
              p.news-page__text 
                |Шардоне — белый сорт винограда родом из французской Бургундии. Вкусовые характеристики этого самого популярного в мире белого сорта зависят от того, где он выращивается и выдерживается ли он в бочке. География действительно впечатляет. Ценнейшие образцы шардоне имеют бургундскую и калифорнийскую прописку, но еще он обитает в Австралии, Новой Зеландии и в ряде мест Южной Африки.
    section.section.section--big.section--hidden 
      .news-page__slider 
        .container 
          h2.news-page__slider-title
            |Похожие новости
        .news-page__slider-inner 
          .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='news' data-slider-prev='q' data-slider-next='w')
            .swiper-wrapper 
              - for (i = 0; i < 7; i++)
                .swiper-slide.news-page__slider-slide
                  +news-card(small=true)
    section.section.section--big
      .container
        .news-page__follow 
          form.news-page__follow-form(action="/") 
            h3.news-page__follow-title 
              |Подпишитесь на наши новости #[br] и будьте в курсе активностей
            .news-page__follow-bot 
              input.news-page__follow-input(type="email" placeholder="E-mail") 
              .news-page__follow-btn
                +submit-button 
                  |Подписаться