extends ../layouts/master

include ../components/breadcrumbs
include ../components/news-components

block content
  .news-page 
    section.section.section--first 
      .container
        .section__breadcrumbs(data-aos='fade-up')
          +breadcrumbs(page = 'Новости')
        h1(data-aos='fade-up')
          |Новости
    section.section 
      .news-page__grid.listing
        .news-page__grid-item.news-page__grid-item--big(data-aos='fade-up')
          a.news-page__card(href="#")
            .news-page__grid-container 
              .news-page__card-row 
                .news-page__card-col
                  img(src="assets/images/news-2.jpg", alt="")
                  .mobile-only
                    .news-page__card-bot
                      .news-page__card-icon 
                        +arrow-svg.news-page__card-svg
                .news-page__card-col
                  .news-page__card-content 
                    .news-page__card-label.news-page__card-label--big 
                      |26 июня 2022
                    h3.news-page__card-heading
                      |Универсальный сорт: что нужно знать о шардоне
                  .desktop-only
                    .news-page__card-icon 
                      +arrow-svg.news-page__card-svg
        - for (i = 0; i < 4; i++)
          .news-page__grid-item(data-aos='fade-up')
            +news-card
        .news-page__grid-item.news-page__grid-item--big(data-aos='fade-up')
          a.news-page__card(href="#")
            .news-page__grid-container 
              .news-page__card-row 
                .news-page__card-col
                  img(src="assets/images/news-2.jpg", alt="")
                  .mobile-only
                    .news-page__card-bot
                      .news-page__card-icon 
                        +arrow-svg.news-page__card-svg
                .news-page__card-col
                  .news-page__card-content 
                    .news-page__card-label.news-page__card-label--big 
                      |26 июня 2022
                    h3.news-page__card-heading
                      |Универсальный сорт: что нужно знать о шардоне
                  .desktop-only
                    .news-page__card-icon 
                      +arrow-svg.news-page__card-svg
        - for (i = 0; i < 4; i++)
          .news-page__grid-item(data-aos='fade-up')
            +news-card
        .listing__wrapper 
          +listing-loader-svg
