extends ../layouts/master

include ../components/breadcrumbs
include ../components/news-components

block content
  .news-page 
    section.section.section--first 
      .container
        +breadcrumbs(items = ['Новости'] page = 'Универсальный сорт: что нужно знать о шардоне')
    section.news-page__section
      .container
        .section__inner 
          .news-page__row 
            .news-page__col(data-aos='fade-up')
              .news-page__button 
                +link-left 
                  |Назад
            .news-page__col
              .news-page__top(data-aos='fade-up')
                h1.news-page__title
                  |Универсальный сорт: что нужно знать о шардоне
                .news-page__date
                  |26 июня 2022
              .page-content
                img(src="assets/images/news-2.jpg", alt="")
                strong
                  |Самый популярный в мире белый сорт винограда имеет долгую историю. Универсальность шардоне и мешала, и помогала его развитию, но сегодня у этого сорта прочные позиции в винном мире.
                h3
                  |Возвращение в строй
                p 
                  |В течение нескольких десятилетий шардоне было не в моде. В середине девяностых The New York Times написала о тренде под названием ABC (Anything But Chardonnay) — «Все, кроме шардоне», распространившемся в винном мире. Примерно в то же время в британской The Independent стали выходить колонки Хелен Филдинг о приключениях Бриджит Джонс (позже превратившиеся в роман-бестселлер). «Дорогой дневник, я снова все сделала не так. Выпила огромный бокал шардоне», «После первой бутылки шардоне я уже было собралась поднять тему постоянных разочарований...» — не слишком удачливая главная героиня не расставалась с бокалом шардоне.
                p
                  |Огромный успех книги отрицательно сказался на репутации собственно вина: читатели сочувствовали и симпатизировали главной героине, но ни в чем не хотели быть на нее похожими. «До Бриджит Джонс шардоне считалось очень сексуальным. Но потом люди стали говорить: «О, нет, только не в моем баре!» — утверждал винный критик Оз Кларк, именно этим объясняя снижение интереса британцев (и не только их) к сорту.
                img(src="assets/images/news-3.jpg", alt="")
                h3
                  |Винное наводнение
                p
                  |Конечно, Бриджит Джонс была не виновата. Причина крылась в перепроизводстве шардоне. В 80-х его стало слишком много и количество ощутимо било по качеству. В значительной степени это было связано с «Судом Парижа», знаменитой слепой дегустацией вин Франции и США, прошедшей в Париже в 1976-м. Тогда лучшие дегустаторы мира отдали предпочтение калифорнийским винам, что вызвало небывалый рост посадок шардоне за океаном (к 1988 году в Калифорнии было посажено больше лоз, чем во Франции).
                ul
                  each item in ['Виктория', 'Аркадия', 'Ризамат', 'Кримсон сидлисс', 'Мерседес',]
                    li 
                      |#{item}
                blockquote
                  |В 2015-м профильные издания и ряд экспертов провозгласили конец эры ABC (Anything But Chardonnay), а Оз Кларк больше не называет шардоне «безжалостным колонизатором мировых виноградников и разрушителем вкусов.
                h3
                  |Качество под откос
                p
                  |Снижение качества вин и падение продаж обеспокоило и самих американцев. Несколько виноделен Калифорнии объединились даже в группу In Pursuit of Balance, IPOB («В погоне за балансом»), задавшись целью контролировать уровень продукции. Их усилия оказались не напрасны. Американское шардоне постепенно в течение 15 лет пришло в норму, количество перешло в качество. Новое поколение ценителей вина обратило внимание на сорт, а выход в 2013-м новой книги о Бриджит Джонс (по-прежнему пьющей шардоне) на этот раз повысил его продажи в Англии — на целых 16% в торговых сетях.
                ol
                  each item in ['Каберне Совиньон', 'Мерло Можно', 'Шардоне', 'Совиньон Блан',]
                    li 
                      |#{item}
                img(src="assets/images/news-4.jpg", alt="")
                p
                  |Шардоне — белый сорт винограда родом из французской Бургундии. Вкусовые характеристики этого самого популярного в мире белого сорта зависят от того, где он выращивается и выдерживается ли он в бочке. География действительно впечатляет. Ценнейшие образцы шардоне имеют бургундскую и калифорнийскую прописку, но еще он обитает в Австралии, Новой Зеландии и в ряде мест Южной Африки.
    section.section.section--big.section--hidden 
      .news-page__slider 
        .container 
          .news-page__slider-top(data-aos='fade-up')
            h2
              |Похожие новости
            .news-page__slider-buttons 
              .slider-buttons
                button.slider-buttons__item.slider-buttons__left(data-slider-button = 'q')
                  +small-arrow-svg.slider-buttons__svg
                button.slider-buttons__item(data-slider-button = 'w')
                  +small-arrow-svg.slider-buttons__svg
        .news-page__slider-inner(data-aos='fade-up')
          .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='news' data-slider-prev='q' data-slider-next='w')
            .swiper-wrapper 
              - for (i = 0; i < 7; i++)
                .swiper-slide.news-page__slider-slide
                  +news-card(small=true)
    section.section.section--big
      .container
        .news-page__follow 
          .news-page__follow-form(data-aos='fade-up')
            h3.news-page__follow-title 
              |Подпишитесь на наши новости #[br] и будьте в курсе активностей
            form.form(action="/" data- data-form='follow') 
              .news-page__follow-bot 
                .form__item.news-page__follow-item
                  +input(type="email") 
                  span.form__span 
                    |E-mail
                .news-page__follow-btn
                  +submit-button 
                    |Подписаться
  +response-modal(id='follow' title='Подписка оформлена')
  .modal(data-response='follow-error')
    .response-modal
      .modal__container
        .response-modal__icon
          svg(width='124' height='134' viewBox='0 0 124 134' fill='none' xmlns='http://www.w3.org/2000/svg')
            circle(cx='57.7144' cy='58.6697' r='55.7144' fill='url(#paint0_linear_460_15177)')
            path(d='M50.5572 48.6841C49.7761 47.903 48.5098 47.903 47.7287 48.6841C46.9477 49.4651 46.9477 50.7314 47.7287 51.5125L50.5572 48.6841ZM56.6573 60.441C57.4383 61.2221 58.7047 61.2221 59.4857 60.441C60.2668 59.66 60.2668 58.3937 59.4857 57.6126L56.6573 60.441ZM59.4857 57.6125C58.7047 56.8315 57.4384 56.8315 56.6573 57.6125C55.8763 58.3936 55.8763 59.6599 56.6573 60.441L59.4857 57.6125ZM65.5859 69.3695C66.3669 70.1506 67.6333 70.1506 68.4143 69.3695C69.1954 68.5885 69.1954 67.3222 68.4143 66.5411L65.5859 69.3695ZM59.4857 60.441C60.2668 59.6599 60.2668 58.3936 59.4857 57.6125C58.7047 56.8315 57.4383 56.8315 56.6573 57.6125L59.4857 60.441ZM47.7287 66.5411C46.9477 67.3222 46.9477 68.5885 47.7287 69.3695C48.5098 70.1506 49.7761 70.1506 50.5572 69.3695L47.7287 66.5411ZM56.6573 57.6126C55.8763 58.3937 55.8763 59.66 56.6573 60.441C57.4384 61.2221 58.7047 61.2221 59.4857 60.441L56.6573 57.6126ZM68.4143 51.5125C69.1954 50.7314 69.1954 49.4651 68.4143 48.6841C67.6333 47.903 66.3669 47.903 65.5859 48.6841L68.4143 51.5125ZM47.7287 51.5125L56.6573 60.441L59.4857 57.6126L50.5572 48.6841L47.7287 51.5125ZM56.6573 60.441L65.5859 69.3695L68.4143 66.5411L59.4857 57.6125L56.6573 60.441ZM56.6573 57.6125L47.7287 66.5411L50.5572 69.3695L59.4857 60.441L56.6573 57.6125ZM59.4857 60.441L68.4143 51.5125L65.5859 48.6841L56.6573 57.6126L59.4857 60.441Z' fill='#811B49')
            defs
              lineargradient#paint0_linear_460_15177(x1='6.84473' y1='10.2224' x2='105.485' y2='97.1402' gradientUnits='userSpaceOnUse')
                stop(stop-color='#FFEDF5')
                stop(offset='1' stop-color='#E0BCCD')
              lineargradient#paint1_linear_460_15177(x1='60.5715' y1='45.0983' x2='144.145' y2='80.137' gradientUnits='userSpaceOnUse')
                stop(stop-color='#A71E5C')
                stop(offset='1' stop-color='#1D1117')
        h2.response-modal__title Вы уже подписались на новости
        .response-modal__text
