extends ../layouts/master

include ../components/order-card
include ../components/breadcrumbs
include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"


block content
  -
    var ddata = {
      list: [
        {
          label: 'Дата обновления',
          text: '21.09.2021'
        },
        {
          label: 'Юридическое лицо',
          text: 'Ржевский Универсам N 43 АО'
        },
        {
          label: 'Город доставки',
          text: 'Санкт-Петербург'
        },
        {
          label: 'Адрес доставки',
          text: 'ул. Большая Советская, дом. 15, лит. Б'
        },
        {
          label: 'Имя',
          text: 'Игорь Спартаков'
        },
        {
          label: 'Номер телефона',
          text: '8 981-850-45-73'
        },
        {
          label: 'E-mail',
          text: 'igspartakov@mail.ru'
        },
      ]
    }
  .profile-page.section.section--default
    .mobile-only(data-aos='fade-up')
      +aside-profile(second = 'active')
    .profile-page__row.profile-page__row--big 
      .profile-page__col(data-aos='fade-up')
        +aside-profile(second = 'active' card = true)
      .profile-page__col
        .section__breadcrumbs(data-aos='fade-up')
          +breadcrumbs(items = ['Личный кабинет', 'Мои юридические лица'] page = 'Универсам Таллинский ООО')
        .profile-page__order
          .desktop-only
            .profile-page__order-top(data-aos='fade-up')
              .profile-page__order-button 
                +link-left 
                  |Назад
              h1 
                |Универсам Таллинский ООО
            ul.profile-page__orders-list
              li.profile-page__orders-item(data-aos='fade-up')
                .profile-page__order-row 
                  .profile-page__order-col
                    .profile-page__orders-label 
                      |Статус
                  .profile-page__order-col
                    .profile-page__status
                      .profile-page__status-icon 
                        +check-svg.profile-page__status-svg.profile-page__status-ok
                      .profile-page__status-text 
                        |Активен
              each item in ddata.list
                li.profile-page__orders-item(data-aos='fade-up')
                  .profile-page__order-row 
                    .profile-page__order-col
                      .profile-page__orders-label 
                        |#{item.label}
                    .profile-page__order-col
                      .profile-page__orders-text 
                        |#{item.text}
          .mobile-only 
            .profile-page__block.profile-page__block--order
              .profile-page__order-top(data-aos='fade-up')
                h1
                  |Универсам Таллинский ООО
              ul.profile-page__block-list
                li.profile-page__block-item(data-aos='fade-up')
                  .profile-page__orders-label 
                    |Статус
                  .profile-page__status
                    .profile-page__status-icon 
                      +check-svg.profile-page__status-svg.profile-page__status-ok
                    .profile-page__status-text 
                      |Активен
                each item in ddata.list
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |#{item.label}
                    .profile-page__orders-text 
                      |#{item.text}