extends ../layouts/master

include ../components/breadcrumbs
include ../components/discount-card
include ../components/aside
include ../components/card-mobile

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"


block content
  .profile-page.section.section--default
    .mobile-only 
      +aside-profile(third = 'active')
    .profile-page__row.profile-page__row--big 
      .profile-page__col 
        +aside-profile(third = 'active' card = true)
      .profile-page__col
        .section__breadcrumbs
          +breadcrumbs(items = ['Личный кабинет'] page = 'Мои заказы')
        h1
          |Личный кабинет
        .mobile-only 
          .profile-page__exit 
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .mobile-only 
          .profile-page__card 
            +card-mobile
        .profile-page__offset
          .profile-page__info
            .profile-page__info-item.big 
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-smile-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Ваш персональный менеджер
                    .profile-page__info-wrapper 
                      .profile-page__info-heading 
                        |Жильцов Сергей
                ul.profile-page__info-links
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +call-svg
                    a.profile-page__info-link(href="#") 
                      |8 911 286 2563
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +mail-svg
                    a.profile-page__info-link(href="#") 
                      |ksh@cloudmill.ru
            .profile-page__info-item
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-stat-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Уровень цен
                    .profile-page__info-wrapper 
                      .profile-page__info-heading.tooltip
                        |Розница
                        span.tooltip__icon 
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
            .profile-page__info-item
              .profile-page__info-col 
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по задолженности
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |345 032 ₽
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по отсрочке платежа
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |30 дней
        .profile-page__section.profile-page__section--big
          h2.profile-page__heading 
            |Персональные акции
          .profile-page__discounts 
            - for (i = 0; i < 3; i++)
              +discount-card

