extends ../layouts/master

include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"

block header 
  +header-small

block footer 
  +footer-small

block content
  .profile-page
    .mobile-only 
      +aside-manager(first = 'active')
    .profile-page__row 
      .profile-page__col 
        +aside-manager(first = 'active')
      .profile-page__col
        .mobile-only 
          p.profile-page__caption 
            |Главный дистрибьютор алкогольной продукции #[br] на территории Северо-Западного федерального округа
        h1
          |Личный кабинет
        .mobile-only 
          .profile-page__exit 
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .profile-page__section 
          h2.profile-page__heading 
            |Заказы
          .profile-page__orders 
            .profile-page__orders-top 
              .profile-page__orders-row 
                each item in ['№', 'Статус', 'Дата обновления', 'Юридическое лицо']
                  .profile-page__orders-col
                    .profile-page__orders-label 
                      |#{item}
            .profile-page__orders-list
              - for (i = 0; i < 5; i++)
                a.profile-page__orders-link(href="#") 
                  .profile-page__orders-item 
                    .profile-page__orders-row 
                      .profile-page__orders-col
                        .profile-page__orders-text 
                          |21
                      .profile-page__orders-col
                        .profile-page__status
                          .profile-page__status-icon 
                            +check-svg.profile-page__status-svg.profile-page__status-ok
                          .profile-page__status-text 
                            |Подтверждено супервайзером
                      .profile-page__orders-col
                        .profile-page__orders-text 
                            |21.09.2021
                      .profile-page__orders-col
                        .profile-page__orders-inner
                          .profile-page__orders-text 
                            |Ржевский Универсам N 43 АО
                          .profile-page__orders-icon 
                            +small-arrow-svg.profile-page__orders-svg 
          .mobile-only 
            - for (i = 0; i < 3; i++)
              .profile-page__block
                ul.profile-page__block-list
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Номер заказа
                    .profile-page__orders-text 
                      |21
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Статус
                    .profile-page__status
                      .profile-page__status-icon 
                        +check-svg.profile-page__status-svg.profile-page__status-ok
                      .profile-page__status-text 
                        |Подтверждено супервайзером
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Дата обновления
                    .profile-page__orders-text 
                      |21.09.2021
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Юридическое лицо
                    .profile-page__orders-text 
                      |Ржевский Универсам N 43 АО
                .profile-page__block-bot
                  a.profile-page__block-button(href="#")
                    .profile-page__block-text 
                      |Подробнее
                    .profile-page__orders-icon 
                      +small-arrow-svg.profile-page__orders-svg 

