extends ../layouts/master

include ../components/order-card
include ../components/breadcrumbs
include ../components/aside
include ../components/card-mobile

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"



block content
  -
    var ddata = {
      list: [
        {
          label: 'Дата обновления',
          text: '21.09.2021'
        },
        {
          label: 'Юридическое лицо',
          text: 'Ржевский Универсам N 43 АО'
        },
        {
          label: 'Город доставки',
          text: 'Санкт-Петербург'
        },
        {
          label: 'Адрес доставки',
          text: 'ул. Большая Советская, дом. 15, лит. Б'
        },
        {
          label: 'Имя',
          text: 'Игорь Спартаков'
        },
        {
          label: 'Номер телефона',
          text: '8 981-850-45-73'
        },
        {
          label: 'E-mail',
          text: 'igspartakov@mail.ru'
        },
      ]
    }
  .profile-page.section.section--default
    .mobile-only 
      +aside-profile(second = 'active')
    .profile-page__row.profile-page__row--big 
      .profile-page__col 
        +aside-profile(second = 'active' card = true)
      .profile-page__col
        .section__breadcrumbs
          +breadcrumbs(items = ['Личный кабинет'] page = 'Мои юридические лица')
        h1
          |Личный кабинет
        .mobile-only 
          .profile-page__exit 
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .mobile-only 
          .profile-page__card
            +card-mobile
        .profile-page__offset
          .profile-page__info
            .profile-page__info-item.big 
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-smile-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Ваш персональный менеджер
                    .profile-page__info-wrapper 
                      .profile-page__info-heading 
                        |Жильцов Сергей
                ul.profile-page__info-links
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +call-svg
                    a.profile-page__info-link(href="#") 
                      |8 911 286 2563
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +mail-svg
                    a.profile-page__info-link(href="#") 
                      |ksh@cloudmill.ru
            .profile-page__info-item
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-stat-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Уровень цен
                    .profile-page__info-wrapper 
                      .profile-page__info-heading.tooltip
                        |Розница
                        span.tooltip__icon 
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
            .profile-page__info-item
              .profile-page__info-col 
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по задолженности
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |345 032 ₽
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по отсрочке платежа
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |30 дней
        .profile-page__section.profile-page__section--big
          .profile-page__section-top.profile-page__heading 
            h2
              |Юридические лица
            .profile-page__section-btn 
              button.button.button--icon.button--mid(data-fancy-button='entity')
                .button__icon 
                  +plus-svg.button__svg.button__check
                .button__text 
                  |Добавить юридическое лицо
          .profile-page__orders 
            .profile-page__orders-top 
              .profile-page__orders-row 
                each item in ['Название', 'ИНН', ]
                  .profile-page__entity-col
                    .profile-page__orders-label 
                      |#{item}
                .profile-page__entity-col
                  .profile-page__entity-item
                    .profile-page__orders-label 
                      |КПП
                  .profile-page__entity-item
                    .profile-page__orders-label 
                      |Статус юридического лица
                  .profile-page__entity-item
            .profile-page__orders-list
              a.profile-page__orders-link(href='#')
                .profile-page__orders-item 
                  .profile-page__orders-row 
                    .profile-page__entity-col
                      .profile-page__orders-text
                        |Универсам Таллинский ООО
                    .profile-page__entity-col
                      .profile-page__orders-text
                        |2881362626
                    .profile-page__entity-col
                      .profile-page__entity-item
                        .profile-page__orders-text
                          |490901772
                      .profile-page__entity-item
                        .profile-page__status.pending
                          .profile-page__status-icon 
                            +clock-svg.profile-page__status-svg.profile-page__status-stroke
                          .profile-page__status-text 
                            |Ждет актиации
                      .profile-page__entity-item
                        .profile-page__orders-icon 
                          +small-arrow-svg.profile-page__orders-svg 
              - for (i = 0; i < 5; i++)
                a.profile-page__orders-link(href='#')
                  .profile-page__orders-item 
                    .profile-page__orders-row 
                      .profile-page__entity-col
                        .profile-page__orders-text
                          |Универсам Таллинский ООО
                      .profile-page__entity-col
                        .profile-page__orders-text
                          |2881362626
                      .profile-page__entity-col
                        .profile-page__entity-item
                          .profile-page__orders-text
                            |490901772
                        .profile-page__entity-item
                          .profile-page__status
                            .profile-page__status-icon 
                              +check-svg.profile-page__status-svg.profile-page__status-ok
                            .profile-page__status-text 
                              |Активен
                        .profile-page__entity-item
                          .profile-page__orders-icon 
                            +small-arrow-svg.profile-page__orders-svg 
          .mobile-only 
            - for (i = 0; i < 2; i++)
              .profile-page__block
                ul.profile-page__block-list
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Название
                    .profile-page__orders-text 
                      |Универсам Таллинский ООО
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |ИНН
                    .profile-page__orders-text 
                      |2881362626
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |КПП
                    .profile-page__orders-text 
                      |490901772
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Статус
                    .profile-page__status.pending
                      .profile-page__status-icon 
                        +clock-svg.profile-page__status-svg.profile-page__status-stroke
                      .profile-page__status-text 
                        |Ждет актиации
                .profile-page__block-bot
                  a.profile-page__block-button(href="#") 
                    .profile-page__block-text 
                      |Подробнее
                    .profile-page__orders-icon 
                      +small-arrow-svg.profile-page__orders-svg 
              .profile-page__block
                ul.profile-page__block-list
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Название
                    .profile-page__orders-text 
                      |Универсам Таллинский ООО
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |ИНН
                    .profile-page__orders-text 
                      |2881362626
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |КПП
                    .profile-page__orders-text 
                      |490901772
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Статус
                    .profile-page__status
                      .profile-page__status-icon 
                        +check-svg.profile-page__status-svg.profile-page__status-ok
                      .profile-page__status-text 
                        |Активен
                .profile-page__block-bot
                  a.profile-page__block-button(href="#") 
                    .profile-page__block-text 
                      |Подробнее
                    .profile-page__orders-icon 
                      +small-arrow-svg.profile-page__orders-svg 
  +entity-modal
  +response-modal.modal--big(id = 'entity-resp' title = 'Заявка на добавление юридического лица отправлена' text = 'В течение 3-х дней с вами свяжется наш менеджер для подтверждения')