extends ../layouts/master

include ../components/order-card
include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"

block header 
  +header-small

block footer 
  +footer-small

block content
  -
    var ddata = {
      list: [
        {
          label: 'Имя',
          value: 'Жильцов Сергей',
          type: 'text',
          button: true,
        },
        {
          label: 'Номер телефона',
          value: '8 981-850-45-73',
          type: 'phone',
          button: true,
        },
        {
          label: 'Email (Логин)',
          value: 'igspartakov@mail.ru',
          type: 'email',
          button: false,
        },
        {
          label: 'Пароль',
          value: '*************',
          type: 'password',
          button: true,
        },
      ]
    }
  .profile-page
    .mobile-only(data-aos='fade-up')
      +aside-manager(third = 'active')
    .profile-page__row 
      .profile-page__col(data-aos='fade-up')
        +aside-manager(third = 'active')
      .profile-page__col
        .mobile-only 
          p.profile-page__caption(data-aos='fade-up')
            |Главный дистрибьютор алкогольной продукции #[br] на территории Северо-Западного федерального округа
        h1(data-aos='fade-up')
          |Личный кабинет
        .mobile-only 
          .profile-page__exit(data-aos='fade-up')
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .profile-page__section 
          h2.profile-page__heading(data-aos='fade-up')
            |Профиль
        .profile-page__order
          .desktop-only
            ul.profile-page__orders-list
              each item in ddata.list
                li.profile-page__orders-item.profile-page__orders-item--noborder-top(data-aos='fade-up')
                  .profile-page__order-row 
                    .profile-page__order-col
                      .profile-page__orders-label 
                        |#{item.label}
                    .profile-page__order-col
                      .profile-page__data
                        .profile-page__data-col
                          input.profile-page__data-input.locked(type=item.type value = item.value)
                        .profile-page__data-col
                          if (item.button)
                            .profile-page__data-btn 
                              .profile-page__data-icon 
                                +pencil-svg.profile-page__data-svg
                                +check-svg.profile-page__data-ok
                              .profile-page__data-text 
                                |Изменить
          .mobile-only 
            .profile-page__block.profile-page__block--order
              .profile-page__data-container
                ul.profile-page__data-list
                  each item in ddata.list
                    li.profile-page__block-item(data-aos='fade-up')
                      .profile-page__orders-label 
                        |#{item.label}
                      input.profile-page__data-input.locked(type=item.type value = item.value)
                      if (item.button)
                        .profile-page__data-inner 
                          .profile-page__data-btn 
                            .profile-page__data-icon 
                              +pencil-svg.profile-page__data-svg
                              +check-svg.profile-page__data-ok
                            .profile-page__data-text 
                              |Изменить