extends ../layouts/master

include ../components/order-card
include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"

block header 
  +header-small

block footer 
  +footer-small

block content
  -
    var ddata = {
      list: [
        {
          label: 'Дата обновления',
          text: '21.09.2021'
        },
        {
          label: 'Юридическое лицо',
          text: 'Ржевский Универсам N 43 АО'
        },
        {
          label: 'Город доставки',
          text: 'Санкт-Петербург'
        },
        {
          label: 'Адрес доставки',
          text: 'ул. Большая Советская, дом. 15, лит. Б'
        },
        {
          label: 'Имя',
          text: 'Игорь Спартаков'
        },
        {
          label: 'Номер телефона',
          text: '8 981-850-45-73'
        },
        {
          label: 'E-mail',
          text: 'igspartakov@mail.ru'
        },
      ]
    }
  .profile-page
    .mobile-only(data-aos='fade-up')
      +aside-supervisor(first = 'active')
    .profile-page__row 
      .profile-page__col(data-aos='fade-up')
        +aside-supervisor(first = 'active')
      .profile-page__col
        .mobile-only 
          p.profile-page__caption(data-aos='fade-up')
            |Главный дистрибьютор алкогольной продукции #[br] на территории Северо-Западного федерального округа
        .desktop-only
          .profile-page__top(data-aos='fade-up')
            .profile-page__order-button 
              +link-left 
                |Назад
            h1 
              |Заказ №21
        .profile-page__info
          .profile-page__info-item.big(data-aos='fade-up')
            .profile-page__info-container
              .profile-page__info-row
                .profile-page__info-icon 
                  +profile-user-svg.profile-page__info-svg
                .profile-page__info-content
                  .profile-page__info-label 
                    |Закреплен профилем
                  .profile-page__info-wrapper 
                    .profile-page__info-heading 
                      |ТК 5 шагов
          .profile-page__info-item(data-aos='fade-up')
            .profile-page__info-container
              .profile-page__info-row
                .profile-page__info-icon 
                  +profile-stat-svg.profile-page__info-svg
                .profile-page__info-content
                  .profile-page__info-label 
                    |Уровень цен
                  .profile-page__info-wrapper 
                    .profile-page__info-heading.tooltip
                      |Розница
                      span.tooltip__icon 
                        +tooltip-svg.tooltip__svg 
                      .tooltip__container 
                        |Данный тип определяет размер скидки на продукцию. Подробнее о размерах скидок можно уточнить у вашего персонального менеджера.
          .profile-page__info-item(data-aos='fade-up')
            .profile-page__info-col 
              .profile-page__info-block 
                .profile-page__info-container
                  .profile-page__info-label 
                    |Лимит по задолженности
                  .profile-page__info-inner
                    .profile-page__info-heading 
                      |345 032 ₽
              .profile-page__info-block 
                .profile-page__info-container
                  .profile-page__info-label 
                    |Лимит по отсрочке платежа
                  .profile-page__info-inner
                    .profile-page__info-heading 
                      |30 дней
        .profile-page__inner
          .desktop-only
            .profile-page__order
              ul.profile-page__orders-list
                li.profile-page__orders-item.profile-page__orders-item--noborder-top(data-aos='fade-up')
                  .profile-page__order-row 
                    .profile-page__order-col
                      .profile-page__orders-label 
                        |Статус
                    .profile-page__order-col
                      .profile-page__status.pending
                        .profile-page__status-icon 
                          +clock-svg.profile-page__status-svg.profile-page__status-stroke
                        .profile-page__status-text 
                          |Ждет проверки менеджером
                each item in ddata.list
                  li.profile-page__orders-item.profile-page__orders-item--noborder-top(data-aos='fade-up')
                    .profile-page__order-row 
                      .profile-page__order-col
                        .profile-page__orders-label 
                          |#{item.label}
                      .profile-page__order-col
                        .profile-page__orders-text 
                          |#{item.text}
        .mobile-only 
          .profile-page__block.profile-page__block--order
            .profile-page__data-container
              h1.profile-page__supervisor-title(data-aos='fade-up')
                |Заказ №21
              ul.profile-page__data-list
                li.profile-page__block-item(data-aos='fade-up')
                  .profile-page__orders-label 
                    |Статус
                  .profile-page__status.pending
                    .profile-page__status-icon 
                      +clock-svg.profile-page__status-svg.profile-page__status-stroke
                    .profile-page__status-text 
                      |Ждет проверки менеджером
                each item in ddata.list
                  li.profile-page__block-item(data-aos='fade-up')
                    .profile-page__orders-label 
                      |#{item.label}
                    .profile-page__orders-text 
                      |#{item.text}
        .section__block 
          h2.profile-page__heading(data-aos='fade-up')
            |Состав заказа
          ul.profile-page__composition
            - for (i = 0; i < 4; i++)
              li.profile-page__composition-item(data-aos='fade-up')
                +order-card(supervisor = true)
        .section__block 
          h2.profile-page__heading(data-aos='fade-up')
            |Ответственный менеджер
          .profile-page__info.profile-page__info--large(data-aos='fade-up')
            .profile-page__info-item 
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-smile-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-heading 
                      |Игорь Спартаков
                    .profile-page__info-button 
                      +outline-button.button--auto.button--md
                        |Изменить менеджера
            .profile-page__info-item
              .profile-page__info-container
                ul.profile-page__info-list
                  li.profile-page__info-btn 
                    +outline-button.button--wide(data-fancy-button='q')
                      |Вернуть менеджеру
                  li.profile-page__info-btn 
                    +submit-button(data-fancy-button='w')
                      |Отказать отгрузку клиенту
                  li.profile-page__info-btn 
                    +submit-button(data-fancy-button='e')
                      |Согласовать отгрузку клиенту
  +response-modal(fancyId='q' title='Вы вернули заказа Менеджеру')
  +response-modal(fancyId='w' title='Вы отказали клиенту в отгрузке')
  +response-modal(fancyId='e' title='Вы согласовали отгрузку клиенту')