extends ../layouts/master

include ../components/order-card
include ../components/breadcrumbs

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"



block content
  -
    var ddata = {
      list: [
        {
          label: 'Дата обновления',
          text: '21.09.2021'
        },
        {
          label: 'Юридическое лицо',
          text: 'Ржевский Универсам N 43 АО'
        },
        {
          label: 'Город доставки',
          text: 'Санкт-Петербург'
        },
        {
          label: 'Адрес доставки',
          text: 'ул. Большая Советская, дом. 15, лит. Б'
        },
        {
          label: 'Имя',
          text: 'Игорь Спартаков'
        },
        {
          label: 'Номер телефона',
          text: '8 981-850-45-73'
        },
        {
          label: 'E-mail',
          text: 'igspartakov@mail.ru'
        },
      ]
    }
  .profile-page.section.section--default
    .mobile-only 
      .aside
        ul.aside__list 
          li.aside__item
            .aside__icon 
              +orders-svg.aside__svg
            .aside__text 
              |Мои заказы
          li.aside__item.active
            .aside__icon 
              +profile-bag-svg.aside__svg
            .aside__text 
              |Мои юридические лица
          li.aside__item 
            .aside__icon 
              +profile-offer-svg.aside__svg
            .aside__text 
              |Персональные акции
          li.aside__item 
            .aside__icon 
              +user-svg.aside__svg
            .aside__text 
              |Профиль
    .profile-page__row.profile-page__row--big 
      .profile-page__col 
        .aside
          .aside__wrapper
            .aside__card 
              .aside__top 
                .aside__top-row 
                  .aside__top-col
                    .aside__top-text 
                      |Вы авторизованы как
                  .aside__top-col
                    .aside__top-icon 
                      +small-arrow-svg.aside__top-svg
                .aside__title 
                  |ТК 5 шагов
              .aside__bot
                .aside__type 
                  |Родительский аккаунт
          ul.aside__list 
            li.aside__item
              .aside__icon 
                +orders-svg.aside__svg
              .aside__text 
                |Мои заказы
            li.aside__item.active 
              .aside__icon 
                +profile-bag-svg.aside__svg
              .aside__text 
                |Мои юридические лица
            li.aside__item 
              .aside__icon 
                +profile-offer-svg.aside__svg
              .aside__text 
                |Персональные акции
            li.aside__item 
              .aside__icon 
                +user-svg.aside__svg
              .aside__text 
                |Профиль
      .profile-page__col
        .section__breadcrumbs
          +breadcrumbs(items = ['Личный кабинет'] page = 'Мои юридические лица')
        h1
          |Личный кабинет
        .mobile-only 
          .profile-page__exit 
            .profile-page__exit-icon 
              +exit-svg.profile-page__exit-svg 
            .profile-page__exit-text 
              |Выйти
        .profile-page__offset
          .profile-page__info
            .profile-page__info-item.big 
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-smile-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Закреплен профилем
                    .profile-page__info-wrapper 
                      .profile-page__info-heading 
                        |ТК 5 шагов
                ul.profile-page__info-links
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +call-svg
                    a.profile-page__info-link(href="#") 
                      |8 911 286 2563
                  li.profile-page__info-contact 
                    .profile-page__info-img 
                      +mail-svg
                    a.profile-page__info-link(href="#") 
                      |ksh@cloudmill.ru
            .profile-page__info-item
              .profile-page__info-container
                .profile-page__info-row
                  .profile-page__info-icon 
                    +profile-stat-svg.profile-page__info-svg
                  .profile-page__info-content
                    .profile-page__info-label 
                      |Уровень цен
                    .profile-page__info-wrapper 
                      .profile-page__info-heading.tooltip
                        |Розница
                        span.tooltip__icon 
                          +tooltip-svg.tooltip__svg 
                        .tooltip__container 
                          |Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa placeat iusto quibusdam?
            .profile-page__info-item
              .profile-page__info-col 
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по задолженности
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |345 032 ₽
                .profile-page__info-block 
                  .profile-page__info-container
                    .profile-page__info-label 
                      |Лимит по отсрочке платежа
                    .profile-page__info-inner
                      .profile-page__info-heading 
                        |30 дней
        .profile-page__section 
          .profile-page__section-top.profile-page__heading 
            h2
              |Заказы
            .profile-page__section-btn 
              button.button.button--icon.button--mid
                .button__icon 
                  +plus-svg.button__svg.button__check
                .button__text 
                  |Добавить юридическое лицо
          .profile-page__orders 
            .profile-page__orders-top 
              .profile-page__orders-row 
                each item in ['Название', 'ИНН', ]
                  .profile-page__entity-col
                    .profile-page__orders-label 
                      |#{item}
                .profile-page__entity-col
                  .profile-page__entity-item
                    .profile-page__orders-label 
                      |КПП
                  .profile-page__entity-item
                    .profile-page__orders-label 
                      |Статус юридического лица
                  .profile-page__entity-item
            ul.profile-page__orders-list
              - for (i = 0; i < 5; i++)
                li.profile-page__orders-item 
                  .profile-page__orders-row 
                    .profile-page__entity-col
                      .profile-page__orders-text
                        |Универсам Таллинский ООО
                    .profile-page__entity-col
                      .profile-page__orders-text
                        |2881362626
                    .profile-page__entity-col
                      .profile-page__entity-item
                        .profile-page__orders-text
                          |490901772
                      .profile-page__entity-item
                        .profile-page__status
                          .profile-page__status-icon 
                            +check-svg.profile-page__status-svg.profile-page__status-ok
                          .profile-page__status-text 
                            |Активен
                      .profile-page__entity-item
                        .profile-page__orders-icon 
                          +small-arrow-svg.profile-page__orders-svg 
          .mobile-only 
            - for (i = 0; i < 3; i++)
              .profile-page__block
                ul.profile-page__block-list
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Номер заказа
                    .profile-page__orders-text 
                      |21
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Статус
                    .profile-page__status
                      .profile-page__status-icon 
                        +check-svg.profile-page__status-svg.profile-page__status-ok
                      .profile-page__status-text 
                        |Подтверждено супервайзером
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Дата обновления
                    .profile-page__orders-text 
                      |21.09.2021
                  li.profile-page__block-item 
                    .profile-page__orders-label 
                      |Юридическое лицо
                    .profile-page__orders-text 
                      |Ржевский Универсам N 43 АО
                .profile-page__block-bot
                  .profile-page__block-button 
                    .profile-page__block-text 
                      |Подробнее
                    .profile-page__orders-icon 
                      +small-arrow-svg.profile-page__orders-svg 