extends ../layouts/master

include ../components/breadcrumbs
include ../components/discount-card
include ../components/aside

block variables
  - var mainClass = "main--default"
  - var bodyClass = "body--gray"


block content
  .profile-page.section.section--default
    .mobile-only(data-aos='fade-up')
      +aside-profile(third = 'active')
    .profile-page__row.profile-page__row--big 
      .profile-page__col(data-aos='fade-up')
        +aside-profile(third = 'active' card = true)
      .profile-page__col
        .section__breadcrumbs(data-aos='fade-up')
          +breadcrumbs.breadcrumbs--fade(items = ['Личный кабинет', 'Персональные акции'] page = 'При единовременной закупке от 5 литров акционного ассортимента,  ТТ получает скидку в накладной - 15% *Ассортимент и размер скидки в руб./бут.')
        .profile-page__discount-top(data-aos='fade-up')
          .profile-page__discount-btn
            +link-left 
              |Назад
          h1.profile-page__discount-title
            |При единовременной закупке от 5 литров акционного ассортимента,  ТТ получает скидку в накладной - 15% *Ассортимент и размер скидки в руб./бут.
        .section__block
          .desktop-only
            ul.profile-page__orders-list
              - for (i = 0; i < 6; i++)
                li.profile-page__item(data-aos='fade-up')
                  a.profile-page__discount-row.profile-page__orders-link(href='#')
                    .profile-page__discount-col
                      .profile-page__discount-item
                        .profile-page__orders-label
                          |Артикул: Р0908
                        .profile-page__discount-heading
                          |Глен Риверс ,купажированный виски "GLEN RIVERS", 0,5л., 40%( Vigrosso) Новые марки
                      .profile-page__discount-item
                        .profile-page__orders-label
                          |Акционная цена
                        .profile-page__discount-heading
                          |12,37 ₽
                    .profile-page__discount-col
                      .profile-page__orders-icon 
                        +small-arrow-svg.profile-page__orders-svg 
          .mobile-only
            - for (i = 0; i < 3; i++)
              .profile-page__block(data-aos='fade-up')
                .profile-page__discount-container
                  .profile-page__discount-item
                    .profile-page__orders-label
                      |Артикул: Р0908
                    .profile-page__discount-heading
                      |Глен Риверс ,купажированный виски "GLEN RIVERS", 0,5л., 40%( Vigrosso) Новые марки
                  .profile-page__discount-item
                    .profile-page__orders-label
                      |Акционная цена
                    .profile-page__discount-heading
                      |12,37 ₽
                .profile-page__block-bot
                  a.profile-page__block-button(href="#") 
                    .profile-page__block-text 
                      |Подробнее
                    .profile-page__orders-icon 
                      +small-arrow-svg.profile-page__orders-svg  
