extends ../layouts/master

include ../components/breadcrumbs



block content
  .search-page 
    section.section.section--first
      .container 
        .section__breadcrumbs 
          +breadcrumbs( page = 'Результаты поиска')
        h1 
          |Результаты поиска
        .search-page__matches 
          |Найдено товаров: 24
        .section__block 
          form.form.search-page__form(action="/")
            +input.form__input--default(type='text' placeholder = 'Поиск по товарам ')
            .search-page__form-btn 
              +submit-button 
                |Поиск
    section.search-page__section 
      .search-page__icon 
        +search-icon-svg.search-page__svg
      .search-page__bg 
        +contacts-icon-svg.search-page__bg-icon