extends ../layouts/master

include ../components/breadcrumbs

include ../components/product-card


block content
  .search-page 
    section.section.section--first
      .container 
        .section__breadcrumbs 
          +breadcrumbs( page = 'Контакты')
        h1 
          |Контакты
        .search-page__matches 
          |Найдено товаров: 24
        .section__block 
          form.form.search-page__form(action="/")
            +input(type='text' value = 'вино ') 
            .search-page__form-btn 
              +submit-button 
                |Поиск
      .section__block
        .grid-container 
          - for (i = 0; i < 16; i++)
            +product-card