extends ../layouts/master


include ../components/order-panel
include ../components/loader

block variables
  

block header 

block footer

block content
  section.main-page__about#about
    .main-page__about-bg 
      .main-page__about-item(data-parallax-delay='0.5')
        +main-item-first
      .main-page__about-item(data-parallax-delay='0.3' data-parallax-offset='197')
        +main-item-second
      .main-page__about-item(data-parallax-delay='0.7' data-parallax-offset='100')
        +main-item-third
      .main-page__about-item(data-parallax-delay='1' data-parallax-offset='400')
        +main-item-fourth
      .main-page__about-item(data-parallax-delay='1.2' data-parallax-offset='900')
        +main-item-fifth
      .main-page__about-item(data-parallax-delay='1.2' data-parallax-offset='850')
        +main-item-sixth
    .main-page__about-sticky
      .main-page__title 
        |WineBerry #[span.main-page__span это]
    .main-page__about-container
      ul.about.about--main
        - for (i = 1; i < 6; i++)
          li.about__item.reverse
            .about__row 
              .about__col
                +picture(`features-${i}.jpg`).about__image
              .about__col
                .about__content(data-about-content='')
                  .about__count 
                    |#{i}
                  .about__title 
                    |Организация процессов
                  ul.about__list
                    each text in ['Личный кабинет для управления заказами', 'Склады и офисы в собственности', 'Качественный документооборот', 'Собственная транспортная компания', ]
                      li.about__feature
                        |#{text}