extends ../layouts/master


include ../components/order-panel

block variables
  

block header 

block footer

block content
  .test
    p.main-page__card-text 
      |100% легальность продукции и документооборот в соответствии с требованиями действующего законодательства