extends ../layouts/master


include ../components/order-panel
include ../components/loader
include ../components/select

block variables
  

block header 

block footer

block content
  .test__modal
    .test__list 
      - for (i = 0; i < 10; i++)
        .test__item 
          |#{i}
    .test__btn
      .q
        |QWEASDZXC
      .q
        |QWEASDZXC
      .q
        |QWEASDZXC