@font-face {
  font-family: 'Dopis';
  src: url('assets/fonts/Dopis-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dopis';
  src: url('assets/fonts/Dopis-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}