.about-page {
  $comp: &;

  &__features {}
  &__features-item {
    
    &:not(:first-child) {
      margin-top: 60px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 32px;
      }
    }

    &.reverse {
      #{$comp}__features-col {
        &:nth-child(2) {
          padding-left: 0;
          order: -1;
        }
      }
    }
  }
  &__features-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__features-col {
    flex-shrink: 0;
    width: calc(#{$col-width-d} * 3);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
    
    &:nth-child(1) {
      display: flex;
    }
    &:nth-child(2) {
      padding-left: calc(#{$col-width-d} / 2);
      @media (max-width: ($breakpoint - 1px)) {
        padding-left: 0;
        margin-top: 20px;
      }
    }
  }
  &__features-image {
    overflow: hidden;
    border-radius: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 16px;
    }
  }
  &__features-container {
    position: relative;
    z-index: 0;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__features-count {
    position: absolute;
    left: 0;
    top: 0;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    color: var(--color-wine);
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(60px, 100%);
  }
  &__features-title {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }
  }
  &__features-feature {
    padding-left: 32px;
    position: relative;
    z-index: 0;

    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }

    &:not(:first-child) {
      margin-top: 12px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      width: 20px;
      height: 20px;

      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 4.16669L13.3333 10L7.5 15.8334' stroke='%23A71E5C' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__slider {
    position: relative;
    z-index: 0;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 24px;
    }

    .swiper-pagination-bullet {
      margin: 0 6px !important;

      opacity: 1;
      background: var(--color-borders);
    
      &-active {
        background: var(--color-wine);
      }
    }
  }
  &__slider-top {
    margin-bottom: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
    display: flex;
    align-items: flex-end;
  }
  &__slider-col {
    display: flex;
    flex-shrink: 0;

    &:nth-child(1) {
      margin-left: calc(#{$col-width-d});

      align-items: center;
      width: calc(#{$col-width-d} * 3);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 0;
        width: auto;
      }
    }
  }
  &__slider-control {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
  &__slider-pagination {
    margin-left: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
      position: absolute;
      bottom: 0 !important;
      left: 50% !important;
      transform: translateX(-50%);

      width: auto !important;
      height: 8px;
    }
  }
  &__slider-item {

    &:not(:first-child) {
      margin-left: 80px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 10px;
      }
    }

    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        width: calc(#{$col-width-d} * 2 + #{$col-width-d} / 2);
      }
    }
  }
  &__slider-num {
    white-space: nowrap;
    color: var(--color-wine);
    font-weight: 700;
    letter-spacing: -0.05em;
    @include fsl(132px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(48px);
    }
  }
  &__slider-label {
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(18px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    } 
  }
  &__slider-small {
    @include fsl(80px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(24px);
    }
  }
  &__slider-span {
    display: inline-block;
    transform: translate(-8px,-37px);
    @media (max-width: ($breakpoint - 1px)) {
      transform: translate(-1px, -10px);
    }

    @include fsl(32px, 110%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }
  &__slider-slider {
    overflow: hidden;
    border-radius: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 16px;
    }
  }
  &__slider-slide {
    width: calc(#{$col-width-d} * 8);
    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
    }
  }
  
  &__buttons {
    display: flex;
  }
  &__buttons-item {
    --size: 60px;

    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: var(--color-light-gray);
    border: none;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 4px;
    }
  }
  &__buttons-svg {
    --size: 24px;

    width: var(--size);
    height: var(--size);

    path {
      stroke: var(--color-black);
    }
  }
  &__buttons-left {
    svg {
      transform: rotate(-180deg);
    }
  }
}

