.cart-page {
  $comp: &;
  
  background: var(--color-light-gray);

  &__section {
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 40px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding-bottom: getRem(40px);
    }
  }
  &__section-row {
    display: flex;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__section-col {
    padding-bottom: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-bottom: 0;
    }
    flex-shrink: 0;

    &:nth-child(1) {
      width: calc(#{$col-width-d} * 8);
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 20px;

        #{$comp}__section-inner {
          padding-top: 0;
        }
      }

      width: calc(#{$col-width-d} * 4);
      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
        background: none;
      }
      background: var(--color-white);
    }
  }
  &__section-inner {
    padding-top: 212px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 68px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding-top: getRem(68px);
    }

    height: 100%;
  }
  &__section-hidden {
    opacity: 0;
    pointer-events: none;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__prices {
    margin-bottom: 16px;

    display: flex;
  }
  &__prices-item {

    &:not(:first-child) {
      margin-left: 36px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    color: var(--color-lilac);
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint-xl - 1px)) {
      @include fsl(12px, 120%);
    }
  }

  &__top {
    margin-bottom: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &__list {}
  &__list-item {

    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__container {
    padding: 20px 0 32px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0;
    }
    
    &:nth-child(1) {
      padding-left: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        padding-left: 0;
      }
    }

    &:nth-child(4) {
      padding-right: 34px;
      @media (max-width: ($breakpoint - 1px)) {
        padding-right: 0;
      }
    }
  }

  &__row {
    @media (max-width: ($breakpoint - 1px)) {
      padding: 16px 16px 16px 8px;

      display: block;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(16px) getRem(16px) getRem(16px) getRem(8px);
    }
    display: flex;
    align-items: center;

    &--simple {
      #{$comp}__col {
        &:nth-child(2) {
          @media (max-width: ($breakpoint-xl - 1px)) {
            width: auto;
            flex-grow: 1;
          }
          @media (max-width: ($breakpoint - 1px)) {
            flex-grow: 0;
          }
        }
        &:nth-child(3) {
          @media (max-width: ($breakpoint-xl - 1px)) {
            display: none;
          }
        }
      }
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding-right: 10px;
      width: calc(#{$col-width-d} * 4 - 60px);
      @media (max-width: ($breakpoint-xl - 1px)) {
        width: calc(#{$col-width-d} * 5 - 60px);
      }
      @media (max-width: ($breakpoint - 1px)) {
        padding-right: 0;
        width: auto;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-width-d});
      @media (max-width: ($breakpoint-xl - 1px)) {
        width: auto;
      }
    }
    &:nth-child(3) {
      @media (max-width: ($breakpoint-xl - 1px)) {
        margin-left: 20px;
      }
      width: calc(#{$col-width-d} + 22px);
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
    &:nth-child(4) {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: ($breakpoint-xl - 1px)) {
        display: none;
      }
      @media (max-width: ($breakpoint - 1px)) {
        display: flex;
      }
    }

    &:not(:first-child) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 16px;
        margin-left: 66px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-top: getRem(16px);
        margin-left: getRem(66px);
      }
    }
  }

  &__counter {
    width: 100%;
    max-width: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      max-width: calc(#{$col-width-m} * 4);
    }
  }

  &__icon {
    @media (max-width: ($breakpoint-xl - 1px)) {
      margin-left: 35px;
    }
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      #{$comp}__svg {
        path {
          fill: var(--color-wine);
        }
      }
    }
  }

  &__svg {
    width: 36px;
    height: 36px;
    @media (max-width: ($breakpoint-xs - 1px)) {
      width: getRem(36px);
      height: getRem(36px);
    }

    path {
      transition: $transition;
      fill: var(--color-dark-gray);
    }
  }

  &__panel {
    position: sticky;
    position: -webkit-sticky;
    top: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
    }
  }
}