.checkout-page {

  background: var(--color-light-gray);

  &__section {
    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 20px;
    }
  }

  &__row {
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 60px;
      padding-bottom: 40px;

      display: block;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding-top: getRem(60px);
      padding-bottom: getRem(40px);
    }
    display: flex;
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      padding-left: 60px;
      padding-top: 203px;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0;
      }

      width: calc(#{$col-width-d} * 2);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(2) {
      padding-right: calc(#{$col-width-d} * 2);
      padding-top: 203px;
      padding-bottom: 140px;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0;
        margin-top: 12px;
      }

      width: calc(#{$col-width-d} * 6);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }
    }

    &:nth-child(3) {
      padding: 325px 60px 140px;
      @media (max-width: ($breakpoint - 1px)) {
        padding: 0;
        margin-top: 40px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-top: getRem(40px);
      }

      width: calc(#{$col-width-d} * 4);
      @media (max-width: ($breakpoint - 1px)) {
        width: auto;
      }

      background: var(--color-white);
    }
  }

  &__title {
    margin-bottom: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
  }

  &__form {}
  &__form-block {
    
    &:not(:first-child) {
      margin-top: 60px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 40px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-top: getRem(40px);
      }
    }
  }
  &__form-heading {
    margin-bottom: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }
  }
  &__form-text {
    letter-spacing: var(--letter-space);
    @include fsl(18px, 130%);
    @media (max-width: ($breakpoint-xs - 1px)) {
      @include fsl(18px, null, true);
    }
  }
  &__form-inner {
    margin-top: 24px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }

    &.hidden {
      display: none;
    }
  }
  &__form-row {
    display: flex;
    gap: 8px;
    @media (max-width: ($breakpoint-l - 1px)) {
      flex-wrap: wrap;
    }
    @media (max-width: ($breakpoint - 1px)) {
      gap: 4px;
    }
  }

  &__panel {
    position: sticky;
    position: -webkit-sticky;
    top: 140px;
    @media (max-width: ($breakpoint - 1px)) {
      position: static;
    }
  }
}