.producers-page {
  $comp: &;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }
  }
  &__grid-item {
    padding: getRem(60px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 20px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(20px);
    }

    transition: $transition;
    border-top: 1px solid var(--color-borders);
    border-left: 1px solid var(--color-borders);
    @media (max-width: ($breakpoint - 1px)) {
      border-left: none;
      // border-right: none;
    }

    &:nth-child(odd) {
      border-left: none;
    }

    &:hover {
      background: var(--color-light-gray);

      #{$comp}__card {
        background: var(--color-white);
      }
    }
  }

  &__card {
    padding: getRem(16px) getRem(32px) getRem(32px) getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 16px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(16px);
    }

    transition: $transition;
    background: var(--color-light-gray);
    border-radius: 16px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 12px;
    }
  }
  &__card-row {
    display: flex;
  }
  &__card-col {
    &:nth-child(1) {
      padding-right: getRem(26px);

      flex-shrink: 0;
      width: calc((#{$col-width-d} + #{$col-width-d} / 2) - 16px);
      @media (max-width: ($breakpoint - 1px)) {
        padding-right: 0;
        width: calc((#{$col-width-m} * 2 + #{$col-width-m} / 2) - 16px);
      }
    }
    &:nth-child(2) {
      padding-top: getRem(16px);
      @media (max-width: ($breakpoint - 1px)) {
        padding-top: 0;
        padding-left: 16px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  &__card-container {
    padding: getRem(25px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 10px;
    }

    width: 100%;
    min-height: getRem(194px);
    @media (max-width: ($breakpoint - 1px)) {
      min-height: 92px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-white);
    border-radius: 12px;
  }
  &__card-title {
    margin-bottom: getRem(16px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 8px;
    }
  }
  &__card-text {
    margin-bottom: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
      margin-bottom: 0;
    }
    letter-spacing: var(--letter-space);
    @include fsl(14px, 160%, true);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(10px);
    }
  }
  &__card-list {
    margin-bottom: getRem(24px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 0;
    }
    display: flex;
  }
  &__card-item {
    &:not(:first-child) {
      margin-left: getRem(42px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: getRem(19px);
      }
    }
  }
  &__card-label {
    margin-bottom: 4px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 2px;
    }

    color: var(--color-lilac);
    letter-spacing: var(--letter-space);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(12px);
    }
  }
  &__card-caption {
    font-weight: 700;
    letter-spacing: var(--letter-space);
    @include fsl(20px, 150%, true);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }
  &__card-buttons {
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
    }

    display: flex;
  }
  &__card-btn {

    &:nth-child(2) {
      margin-left: getRem(8px);
      @media (max-width: ($breakpoint - 1px)) {
        max-width: 195px;
        width: 100%;
      }
    }
  }

  &__section {
    margin-top: 60px;
    padding-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      padding-top: 0;
      margin-top: 20px;

      border-top: none;
    }
    border-top: 1px solid var(--color-borders);
  }
  &__section-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      align-items: flex-end;
    }
  }
  &__section-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      display: block;
    }

    &:nth-child(1) {
      @media (max-width: ($breakpoint - 1px)) {
        margin-left: 20px;
      }
      @media (max-width: ($breakpoint-xs - 1px)) {
        margin-left: getRem(20px);
      }
    }

    &:nth-child(2) {
      @media (max-width: ($breakpoint - 1px)) {
        order: -1;
        width: calc(#{$col-width-m} * 2 + #{$col-width-m} / 2);
      }
    }
  }
  &__section-title {
    margin-bottom: 8px;
  }
  &__section-btn {

  }
  &__section-image {
    padding: 20px 30px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 15px 20px;

      min-height: 84px;
      min-width: auto;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      padding: getRem(15px) getRem(20px);
      min-height: getRem(84px);
    }
    min-width: 191px;
    min-height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 1px solid var(--color-borders);
    border-radius: 12px;
    @media (max-width: ($breakpoint - 1px)) {
      border-radius: 8px;
    }
  }
  &__section-block {
    margin-top: 60px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 32px;
    }
    @media (max-width: ($breakpoint-xs - 1px)) {
      margin-top: getRem(32px);
    }
  }
  &__section-text {
    letter-spacing: var(--letter-space);
    @include fsl(24px, 130%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(16px);
    }
  }
  &__section-heading {
    margin-bottom: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 12px;
    }
  }

  &__content {
    margin-top: 32px;
    padding-left: calc(#{$col-width-d});
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 16px;
      padding-left: 0;
    }
  }
  &__content-item {

    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__content-text {
    letter-spacing: var(--letter-space);
    @include fsl(18px, 160%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__products {
    margin-top: 32px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }
  }
}