.search-page {

  &__matches {
    margin-top: 20px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 12px;
    }

    letter-spacing: var(--letter-space);
    @include fsl(18px);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__form {
    display: flex;
  }
  &__form-btn {
    margin-left: 8px;

    width: 103px;
    @media (max-width: ($breakpoint - 1px)) {
      width: 74px;
    }
  }

  &__section {
    position: relative;
    z-index: -1;
    padding: 236px 0 100px;
    @media (max-width: ($breakpoint - 1px)) {
      padding: 80px 0 0;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    bottom: -140px;
    @media (max-width: ($breakpoint - 1px)) {
      bottom: -100px;
    }
    left: 50%;
    transform: translate(-50%, 50%);
  }
  &__bg-icon {
    --size: 648px;
    @media (max-width: ($breakpoint - 1px)) {
      --size: 281px;
    }

    width: var(--size);
    height: var(--size);
  }
}