mixin card-mobile
  .card 
    .card__top 
      .card__row 
        .card__col
          .card__text 
            |Вы авторизованы как
        .card__col
          .card__icon 
            +small-arrow-svg.card__svg
      .card__title 
        |ТК 5 шагов
    .card__bot
      .card__type 
        |Родительский аккаунт