mixin counter 
  .counter(class=attributes.class)
    button.counter__item(data-counter-minus='')
      +minus-svg.counter__svg
    input.counter__count(type='number' value='1' data-counter-count='')
    button.counter__item(data-counter-plus='')
      +plus-svg.counter__svg