mixin news-card 
  a.news-page__card(href="#")
    .news-page__grid-container(class=(attributes.small ? 'news-page__grid-container--small' : ''))
      .news-page__card-container 
        .news-page__card-img
          img(src="assets/images/news.jpg", alt="")
        .news-page__card-bot
          .news-page__card-icon 
            +arrow-svg.news-page__card-svg
      .news-page__card-content 
        .news-page__card-label 
          |26 июня 2022
        .news-page__card-title 
          |Одним куличом сыт не будешь