mixin order-card 
  .order-card
    .order-card__container 
      .order-card__row 
        .order-card__col
          .order-card__info 
            .order-card__img 
              +picture('product.jpg')
            .order-card__content 
              .order-card__code 
                |Артикул: 124041
              .order-card__title 
                |Ле Мэтр де Винь Совиньон Блан, вино стол.сух.бел., 11%, 0,75л.
              ul.order-card__stats
                each item in ['Франция', '0.75 л.', 'Белое', 'Сухое'] 
                  li.order-card__stats-item 
                    |#{item}
        .order-card__col
          .order-card__prices 
            .order-card__prices-item 
              .order-card__label 
                |Базовая цена
              .order-card__price 
                |1 990 ₽ 
            .order-card__prices-item 
              .order-card__label 
                |Персональная цена
              .order-card__price 
                |1 680 ₽ 
            .order-card__prices-item 
              if (attributes.supervisor)
                .order-card__label 
                  |Количество
                .order-card__price 
                  |4
              else
                .order-card__prices-count
                  .order-card__label 
                    |Количество
                  input.order-card__input(type = 'text' value = '20')
          .order-card__buttons 
            if (attributes.supervisor)
              .profile-page__status
                .profile-page__status-icon 
                  +check-svg.profile-page__status-svg.profile-page__status-ok
                .profile-page__status-text 
                  |Подтверждено супервайзером
            else 
              .order-card__buttons-item 
                +accept-button 
                  |Подтвердить наличие
              .order-card__buttons-item 
                +delete-button 
                  |Удалить из заказа