mixin ticker 
  .ticker(data-ticker='')
    .ticker__item(data-ticker-line='')
      - for (i = 1; i < 6; i++)
        .ticker__img(data-ticker-item='')
          +picture(`client-${i}.jpg`).ticker__picture