.desktop-only {
  @media (max-width: ($breakpoint - 1px)) {
    display: none;
  }
}

.desktop-xl {
  @media (max-width: ($breakpoint-xl - 1px)) {
    display: none;
  }
}

.desktop-ll {
  display: none;
  @media (max-width: ($breakpoint-xl - 1px)) {
    display: block;
  }
  @media (max-width: ($breakpoint - 1px)) {
    display: none;
  }
}

.desktop-tablet {
  @media (max-width: ($breakpoint-m - 1px)) {
    display: none;
  }
}

.tablet-only {
  display: none;
  @media (max-width: ($breakpoint - 1px)) {
    display: block;
  }
  @media (max-width: ($breakpoint-m - 1px)) {
    display: none;
  }
}

.small-mobile {
  display: none;
  @media (max-width: ($breakpoint-m - 1px)) {
    display: block;
  }
}

.mobile-only {
  display: none;
  @media (max-width: ($breakpoint - 1px)) {
    display: block;
  }
}

.fullheight {
  height: 100%;
}

.fullheight-mobile {
  @media (max-width: ($breakpoint - 1px)) {
    height: 100%;
  }
}